<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_39_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,2},{132,124}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,51},{132,124}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>action_39_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,136},{110,118}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,54},{110,118}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>action_39_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,256},{100,112}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,50},{100,112}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>action_39_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,158}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{400,158}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>action_39_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,318},{400,156}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{400,156}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>action_39_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,160},{400,156}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{400,156}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>action_39_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{400,156}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{400,156}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>action_39_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,318},{400,156}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{400,156}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>action_39_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,160},{400,156}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{400,156}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>action_39_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{400,156}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{400,156}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>action_39_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{400,156}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{400,156}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>action_39_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{400,154}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{400,154}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>action_39_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,136},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,99.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>action_39_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,136},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,99.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_39.png</string>
            <key>size</key>
            <string>{1334,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7315b1febcf6488ea7a4c4f2124f4034:8401af320ca630f781fd1e9db8ec7656:2ea71404c8bf8142490afc03e582922a$</string>
            <key>textureFileName</key>
            <string>action_39.png</string>
        </dict>
    </dict>
</plist>
