<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_19_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{268,78}}</string>
                <key>offset</key>
                <string>{-10,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,72},{268,78}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>action_19_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,106},{262,142}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{262,142}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>action_19_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,140}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{290,140}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>action_19_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{282,124}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{282,124}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>action_19_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,128},{228,112}}</string>
                <key>offset</key>
                <string>{17,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{228,112}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>action_19_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{216,112}}</string>
                <key>offset</key>
                <string>{11,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{216,112}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>action_19_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{200,112}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,0},{200,112}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>action_19_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,116},{210,114}}</string>
                <key>offset</key>
                <string>{10,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{210,114}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>action_19_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,144},{184,108}}</string>
                <key>offset</key>
                <string>{9,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{184,108}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>action_19_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,116},{170,108}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,0},{170,108}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>action_19_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{156,102}}</string>
                <key>offset</key>
                <string>{4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,0},{156,102}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>action_19_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,2},{146,102}}</string>
                <key>offset</key>
                <string>{4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{146,102}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>action_19_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,2},{134,80}}</string>
                <key>offset</key>
                <string>{5,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,12},{134,80}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>action_19_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,138},{56,56}}</string>
                <key>offset</key>
                <string>{-13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,32},{56,56}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_19.png</string>
            <key>size</key>
            <string>{1418,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44066569645ae947e58b54d08cc56d50:f1eaa9e72d73cb128d76ce6f3f68535c:bb332108929874c80b1e6f7c1e75c0c1$</string>
            <key>textureFileName</key>
            <string>action_19.png</string>
        </dict>
    </dict>
</plist>
