<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_mudra_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{135,87}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{135,87}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>action_mudra_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{135,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{135,97}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>action_mudra_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,2},{135,79}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{135,79}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>action_mudra_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{135,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{135,79}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>action_mudra_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,65},{135,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{135,49}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>action_mudra_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{135,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{135,85}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>action_mudra_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{135,109}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>action_mudra_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,2},{135,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{135,75}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>action_mudra_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,2},{135,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{135,61}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>action_mudra_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{135,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{135,105}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>action_mudra_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,2},{135,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{135,85}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>action_mudra_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{135,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{135,107}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_mudra.png</string>
            <key>size</key>
            <string>{1509,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27d73884552ffc5d61a29ae59985e084:ab7210f82922d47ba8d7439b5f1c4fcc:dbb7e472316c23710b513bb3607485a0$</string>
            <key>textureFileName</key>
            <string>action_mudra.png</string>
        </dict>
    </dict>
</plist>
