<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_41_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,192},{14,26}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,32},{14,26}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>action_41_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,164},{14,26}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,32},{14,26}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>action_41_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,222},{10,34}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,50},{10,34}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>action_41_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,164},{40,56}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,45},{40,56}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>action_41_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{66,76}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,37},{66,76}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>action_41_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,156},{76,76}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,43},{76,76}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>action_41_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{144,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{144,156}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>action_41_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{144,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{144,156}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>action_41_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{144,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>action_41_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{144,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{144,156}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>action_41_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{144,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{144,156}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>action_41_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{142,154}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{142,154}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>action_41_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{140,152}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{140,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>action_41_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{140,152}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{140,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>action_41_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{140,152}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{140,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_41.png</string>
            <key>size</key>
            <string>{1018,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57beb05484c0fd87fe505b4478954ef9:809f9c3b4b72fa9eaee91a9113088338:d543e114d87999c95ff83a95ed1ce1b6$</string>
            <key>textureFileName</key>
            <string>action_41.png</string>
        </dict>
    </dict>
</plist>
