<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_86_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,730},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_86_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{346,148}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,118},{346,148}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_86_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,724},{366,334}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{366,334}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_86_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{366,362}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{366,362}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_86_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,366},{362,362}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{362,362}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_86_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,366}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{366,366}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_86_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,368},{362,364}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{362,364}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_86_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{362,364}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{362,364}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_86_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{362,362}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{362,362}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_86_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,2},{360,362}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{360,362}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_86_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,2},{358,360}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{358,360}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_86_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,364},{358,358}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{358,358}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_86_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,366},{354,352}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{354,352}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_86_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,720},{342,342}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,19},{342,342}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_86_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,730},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_86.png</string>
            <key>size</key>
            <string>{1820,1064}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09420b6ace1a96284bedcf369a3610bd:2888b7aa6c24599b87d11d593964fa4c:4430f53746f500d38c886bd66f85b194$</string>
            <key>textureFileName</key>
            <string>action_86.png</string>
        </dict>
    </dict>
</plist>
