<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_37_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,264},{242,186}}</string>
                <key>offset</key>
                <string>{-6,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,122},{242,186}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>action_37_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{356,268}}</string>
                <key>offset</key>
                <string>{21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,37},{356,268}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>action_37_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,274}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{368,274}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>action_37_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,2},{356,260}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,33},{356,260}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>action_37_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{400,228}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{400,228}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>action_37_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,232},{380,186}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,62},{380,186}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>action_37_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,272},{380,190}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,67},{380,190}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>action_37_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{360,184}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,69},{360,184}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>action_37_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,264},{196,166}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,79},{196,166}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>action_37_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,2},{132,154}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,84},{132,154}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_37.png</string>
            <key>size</key>
            <string>{1624,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df372dcbe719ebbfd742fa55b152f161:34732789adf0c8b9ea75c34ffa51b76e:44e026160f78d8b2d49cc5d3b9addad4$</string>
            <key>textureFileName</key>
            <string>action_37.png</string>
        </dict>
    </dict>
</plist>
