<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_96_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{87,25}}</string>
                <key>offset</key>
                <string>{-6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,50},{87,25}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
            <key>action_96_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{95,45}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,30},{95,45}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
            <key>action_96_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,494},{71,37}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,27},{71,37}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
            <key>action_96_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,453},{69,39}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,26},{69,39}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
            <key>action_96_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{85,41}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,27},{85,41}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
            <key>action_96_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{121,53}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{121,53}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
            <key>action_96_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{119,65}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{119,65}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
            <key>action_96_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{121,61}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{121,61}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
            <key>action_96_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{121,71}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
            <key>action_96_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{119,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{119,71}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
            <key>action_96_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{117,71}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{117,71}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_96.png</string>
            <key>size</key>
            <string>{125,568}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c6fe22e4615d2c3c054b24fde19c5e6:61acb4f3e541f2bfc38a9481895ac4fd:a59f3766bbcbefe12412289b7310f064$</string>
            <key>textureFileName</key>
            <string>action_96.png</string>
        </dict>
    </dict>
</plist>
