<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_97_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,136}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{167,136}}</string>
                <key>sourceSize</key>
                <string>{175,150}</string>
            </dict>
            <key>action_97_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{163,134}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{163,134}}</string>
                <key>sourceSize</key>
                <string>{175,150}</string>
            </dict>
            <key>action_97_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,112},{83,58}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,49},{83,58}}</string>
                <key>sourceSize</key>
                <string>{175,150}</string>
            </dict>
            <key>action_97_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{75,40}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,64},{75,40}}</string>
                <key>sourceSize</key>
                <string>{175,150}</string>
            </dict>
            <key>action_97_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,79},{87,46}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,63},{87,46}}</string>
                <key>sourceSize</key>
                <string>{175,150}</string>
            </dict>
            <key>action_97_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,138},{99,54}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,59},{99,54}}</string>
                <key>sourceSize</key>
                <string>{175,150}</string>
            </dict>
            <key>action_97_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,56},{101,54}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,59},{101,54}}</string>
                <key>sourceSize</key>
                <string>{175,150}</string>
            </dict>
            <key>action_97_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,140},{103,54}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,59},{103,54}}</string>
                <key>sourceSize</key>
                <string>{175,150}</string>
            </dict>
            <key>action_97_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{121,52}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,60},{121,52}}</string>
                <key>sourceSize</key>
                <string>{175,150}</string>
            </dict>
            <key>action_97_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{129,54}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,59},{129,54}}</string>
                <key>sourceSize</key>
                <string>{175,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_97.png</string>
            <key>size</key>
            <string>{501,196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:813ce3d1a3f75984ffd91f51f23f9f8b:7af564ef1a6fcad2ff7b3efdc862b7f4:6ee1bfa0c86accf7df389eddd113e1d0$</string>
            <key>textureFileName</key>
            <string>action_97.png</string>
        </dict>
    </dict>
</plist>
