<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_47_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1450},{286,138}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,7},{286,138}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>action_47_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,292},{288,138}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{288,138}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>action_47_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{288,138}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{288,138}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>action_47_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,878},{290,138}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{290,138}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>action_47_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{290,140}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{290,140}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>action_47_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,140}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{290,140}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>action_47_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,586},{290,138}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{290,138}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>action_47_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1310},{290,138}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{290,138}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>action_47_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1170},{290,138}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{290,138}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>action_47_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,878},{290,138}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{290,138}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>action_47_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,294},{290,138}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{290,138}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>action_47_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{290,138}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{290,138}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>action_47_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,586},{290,138}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{290,138}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>action_47_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1462},{290,138}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{290,138}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>action_47_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1170},{290,138}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{290,138}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>action_47_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{290,138}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{290,138}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>action_47_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{290,138}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{290,138}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>action_47_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1602},{284,132}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{284,132}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_47.png</string>
            <key>size</key>
            <string>{434,1738}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98e3ac43a9c9bbcbb91a217f274eaa1d:baebd339424b6745e3907049ba8cbf94:bd7c8a31b6fb0688f1013c1be8ddcc25$</string>
            <key>textureFileName</key>
            <string>action_47.png</string>
        </dict>
    </dict>
</plist>
