<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_27_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{218,210}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,56},{218,210}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>action_27_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{240,266}}</string>
                <key>offset</key>
                <string>{-21,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,29},{240,266}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>action_27_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,268}}</string>
                <key>offset</key>
                <string>{-21,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{242,268}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>action_27_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{226,252}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,30},{226,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>action_27_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1186},{178,180}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,58},{178,180}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>action_27_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{180,178}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,59},{180,178}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>action_27_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1366},{176,178}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,59},{176,178}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_27.png</string>
            <key>size</key>
            <string>{246,1544}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d16c995b52b8f29640ef0f01d18d7c3:d9bdb5f666fd7efd5ee692d24c0358ad:84b38f1e5faac5d89dbf035cc861d31b$</string>
            <key>textureFileName</key>
            <string>action_27.png</string>
        </dict>
    </dict>
</plist>
