<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_95_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2},{120,84}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{120,84}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>action_95_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{120,96}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{120,96}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>action_95_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,100}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{118,100}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>action_95_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,2},{142,90}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{142,90}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>action_95_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{142,90}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{142,90}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>action_95_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{142,94}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{142,94}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>action_95_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{142,94}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{142,94}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>action_95_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{136,94}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{136,94}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>action_95_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{126,94}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{126,94}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>action_95_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{116,92}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{116,92}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>action_95_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,46},{82,46}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,21},{82,46}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>action_95_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,2},{84,42}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,21},{84,42}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_95.png</string>
            <key>size</key>
            <string>{1412,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e3d364c3dccd0402cdb636c1a7a39cd:36f61843c0a42f929138cad1be85c101:f0dab5c3a24bd61f5465e93e4fe1f26f$</string>
            <key>textureFileName</key>
            <string>action_95.png</string>
        </dict>
    </dict>
</plist>
