<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_16_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1742},{136,82}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,59},{136,82}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>action_16_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1644},{170,96}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,54},{170,96}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>action_16_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1370},{206,112}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,48},{206,112}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>action_16_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{240,122}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{240,122}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>action_16_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{238,148}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{238,148}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>action_16_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{240,138}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{240,138}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>action_16_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{240,142}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{240,142}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>action_16_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>action_16_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{238,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{238,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>action_16_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{236,160}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{236,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>action_16_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{232,160}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{232,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>action_16_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1208},{216,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{216,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>action_16_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1484},{200,158}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{200,158}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>action_16_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1742},{120,96}}</string>
                <key>offset</key>
                <string>{-9,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,0},{120,96}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>action_16_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1644},{94,80}}</string>
                <key>offset</key>
                <string>{-12,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,0},{94,80}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_16.png</string>
            <key>size</key>
            <string>{256,1898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7882f4c077fcbb414ccd663b5604befd:987aeda1635b2f83dc6b683e6de405a9:eeb560352cf7f9fdfc90cccc47fa859f$</string>
            <key>textureFileName</key>
            <string>action_16.png</string>
        </dict>
    </dict>
</plist>
