<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_21_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1886},{104,92}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,81},{104,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>action_21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1742},{152,142}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,43},{152,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>action_21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1588},{170,152}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{170,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>action_21_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1418},{168,174}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,18},{168,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>action_21_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{198,176}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{198,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>action_21_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{200,184}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>action_21_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{182,194}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{182,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>action_21_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{148,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{148,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>action_21_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{192,196}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{192,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>action_21_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,190}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>action_21_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{196,168}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{196,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>action_21_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1256},{160,184}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{160,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>action_21_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1742},{108,42}}</string>
                <key>offset</key>
                <string>{-6,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{108,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_21.png</string>
            <key>size</key>
            <string>{204,1980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c480cb4d667089145815aba68f786ea1:44052ec09c76a20b4f51f936c95df65a:67ee71421294da5344b66d63c6388a9f$</string>
            <key>textureFileName</key>
            <string>action_21.png</string>
        </dict>
    </dict>
</plist>
