<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_17_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{84,42}}</string>
                <key>offset</key>
                <string>{-4,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,96},{84,42}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>action_17_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,296},{118,98}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,48},{118,98}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>action_17_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{144,136}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,15},{144,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>action_17_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{146,146}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{146,146}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>action_17_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,144}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{150,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>action_17_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,46},{70,60}}</string>
                <key>offset</key>
                <string>{24,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,15},{70,60}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>action_17_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,108},{58,48}}</string>
                <key>offset</key>
                <string>{16,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,18},{58,48}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_17.png</string>
            <key>size</key>
            <string>{240,442}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99c3cb620034d00ab689cf9d6c34f7e5:2e3c2be10d9688a42ce6dd29f5e7d5c4:5bf5be61c9646ff6ba704a007e7314f2$</string>
            <key>textureFileName</key>
            <string>action_17.png</string>
        </dict>
    </dict>
</plist>
