<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_25_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,106},{18,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,51},{18,18}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>action_25_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,70},{54,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{54,54}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>action_25_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{92,96}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{92,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>action_25_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{66,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,28},{66,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>action_25_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{86,82}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{86,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>action_25_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{80,100}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,11},{80,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>action_25_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{74,102}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,13},{74,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>action_25_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{78,90}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{78,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>action_25_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{76,102}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{76,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>action_25_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{94,98}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{94,98}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>action_25_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>action_25_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,70},{46,46}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,34},{46,46}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_25.png</string>
            <key>size</key>
            <string>{818,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba429e435171be7d1b5826449b2fadf3:e493a1ac9bf3688b65f3901300f59d57:1b09a706a356e07e57553a9a54c80102$</string>
            <key>textureFileName</key>
            <string>action_25.png</string>
        </dict>
    </dict>
</plist>
