<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_28_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{98,36}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,45},{98,36}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>action_28_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{92,42}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,49},{92,42}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>action_28_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,42}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,52},{92,42}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>action_28_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{80,34}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,54},{80,34}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_28.png</string>
            <key>size</key>
            <string>{372,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8347c757936323b6dd0705248a390b4:925cd77d0aeb8f19e2d9927a7cc649e6:70837995f2e80232b794497910c195be$</string>
            <key>textureFileName</key>
            <string>action_28.png</string>
        </dict>
    </dict>
</plist>
