<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_34_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{226,208}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,19},{226,208}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>action_34_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{224,222}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,14},{224,222}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>action_34_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{250,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,0},{250,240}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>action_34_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,240}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{300,240}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>action_34_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{370,220}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{370,220}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>action_34_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,2},{342,218}}</string>
                <key>offset</key>
                <string>{13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,22},{342,218}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>action_34_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,2},{256,212}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,28},{256,212}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>action_34_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,230},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,119.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
            <key>action_34_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,230},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,119.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_34.png</string>
            <key>size</key>
            <string>{1964,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54ad8326f8db1ccbb756cfd5f58c3bbe:75b1c416919997312ac8d849ee4aa705:a1a1acac0498b5cbe5f49dd07d479f6f$</string>
            <key>textureFileName</key>
            <string>action_34.png</string>
        </dict>
    </dict>
</plist>
