<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_14_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,636},{284,148}}</string>
                <key>offset</key>
                <string>{3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,47},{284,148}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>action_14_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{292,152}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,44},{292,152}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>action_14_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{300,154}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{300,154}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>action_14_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{300,158}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{300,158}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>action_14_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,162}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{300,162}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>action_14_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,162}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{300,162}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>action_14_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,304},{300,156}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{300,156}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>action_14_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{222,152}}</string>
                <key>offset</key>
                <string>{39,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,31},{222,152}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_14.png</string>
            <key>size</key>
            <string>{512,790}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61bcec74ca1f1a2281f125914a464c1a:ed85d44075fce9232b3ca7b51e94204c:db8a34cf94538fe3d9a303e44b9eb213$</string>
            <key>textureFileName</key>
            <string>action_14.png</string>
        </dict>
    </dict>
</plist>
