<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_45_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{160,42}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{160,42}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>action_45_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,46},{142,48}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,49},{142,48}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>action_45_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{114,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,38},{114,50}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>action_45_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,54},{76,48}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,16},{76,48}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>action_45_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,54},{46,48}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,22},{46,48}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>action_45_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{110,114}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{110,114}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>action_45_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_45.png</string>
            <key>size</key>
            <string>{554,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59876c3ae0d1779a22648aca5c489677:b17ee83a751a9ed5a4f6515a9b324497:e6d7dd6a06d5bac22e28b517ca729254$</string>
            <key>textureFileName</key>
            <string>action_45.png</string>
        </dict>
    </dict>
</plist>
