<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{44,44}}</string>
                <key>offset</key>
                <string>{4,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,95},{44,44}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>action_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{56,92}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,52},{56,92}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>action_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{56,136}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{56,136}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>action_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{60,146}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{60,146}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>action_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{60,144}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{60,144}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>action_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{60,146}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{60,146}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>action_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,146}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{60,146}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_4.png</string>
            <key>size</key>
            <string>{64,870}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c62a337b726c687b5071bb0a6db1a7db:55a8b8e03231bf293f116556852a7e53:5488854e350259cad8b2fd4f7465d188$</string>
            <key>textureFileName</key>
            <string>action_4.png</string>
        </dict>
    </dict>
</plist>
