<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_42_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{220,82}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{220,82}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>action_42_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,82}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{220,82}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>action_42_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{216,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{216,82}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>action_42_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{214,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{214,82}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>action_42_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,210},{206,82}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,9},{206,82}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>action_42_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{206,82}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,9},{206,82}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>action_42_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{204,82}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{204,82}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>action_42_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,418},{204,82}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{204,82}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>action_42_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,412},{202,80}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,10},{202,80}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>action_42_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,208},{202,80}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,10},{202,80}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>action_42_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{198,78}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,11},{198,78}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_42.png</string>
            <key>size</key>
            <string>{254,828}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a57cde6ef9a9e3309f557d1e61148326:e1c5977142331279c254042456e2e26e:3f229598e787ca9bf3d8021967342c01$</string>
            <key>textureFileName</key>
            <string>action_42.png</string>
        </dict>
    </dict>
</plist>
