<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_48_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,162},{46,48}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,95},{46,48}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>action_48_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,2},{122,124}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,56},{122,124}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>action_48_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,2},{134,156}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,41},{134,156}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>action_48_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,2},{136,158}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,40},{136,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>action_48_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{170,160}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,40},{170,160}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>action_48_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,2},{170,170}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,30},{170,170}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>action_48_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{170,170}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,30},{170,170}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>action_48_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,224}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{210,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>action_48_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{210,168}}</string>
                <key>offset</key>
                <string>{-15,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{210,168}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>action_48_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{222,180}}</string>
                <key>offset</key>
                <string>{-9,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{222,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>action_48_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,2},{152,142}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,48},{152,142}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>action_48_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{176,182}}</string>
                <key>offset</key>
                <string>{21,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,8},{176,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>action_48_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{140,178}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,12},{140,178}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_48.png</string>
            <key>size</key>
            <string>{1990,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78937bf36699538549b71618e29faf4b:6733fbac220f47018d9c7b2e643a9609:8e264861650ab8ced32380f5f614533f$</string>
            <key>textureFileName</key>
            <string>action_48.png</string>
        </dict>
    </dict>
</plist>
