<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_92_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4}</string>
                <key>spriteSize</key>
                <string>{130,67}</string>
                <key>spriteSourceSize</key>
                <string>{150,75}</string>
                <key>textureRect</key>
                <string>{{1349,1},{130,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>action_92_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{130,69}</string>
                <key>spriteSourceSize</key>
                <string>{150,75}</string>
                <key>textureRect</key>
                <string>{{1085,1},{130,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>action_92_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{134,69}</string>
                <key>spriteSourceSize</key>
                <string>{150,75}</string>
                <key>textureRect</key>
                <string>{{685,1},{134,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>action_92_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{134,71}</string>
                <key>spriteSourceSize</key>
                <string>{150,75}</string>
                <key>textureRect</key>
                <string>{{549,1},{134,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>action_92_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{130,69}</string>
                <key>spriteSourceSize</key>
                <string>{150,75}</string>
                <key>textureRect</key>
                <string>{{1217,1},{130,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>action_92_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4}</string>
                <key>spriteSize</key>
                <string>{126,67}</string>
                <key>spriteSourceSize</key>
                <string>{150,75}</string>
                <key>textureRect</key>
                <string>{{1481,1},{126,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>action_92_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{130,75}</string>
                <key>spriteSourceSize</key>
                <string>{150,75}</string>
                <key>textureRect</key>
                <string>{{821,1},{130,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>action_92_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{130,75}</string>
                <key>spriteSourceSize</key>
                <string>{150,75}</string>
                <key>textureRect</key>
                <string>{{953,1},{130,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>action_92_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{136,75}</string>
                <key>spriteSourceSize</key>
                <string>{150,75}</string>
                <key>textureRect</key>
                <string>{{1,1},{136,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>action_92_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,75}</string>
                <key>spriteSourceSize</key>
                <string>{150,75}</string>
                <key>textureRect</key>
                <string>{{139,1},{136,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>action_92_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{134,75}</string>
                <key>spriteSourceSize</key>
                <string>{150,75}</string>
                <key>textureRect</key>
                <string>{{277,1},{134,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>action_92_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{134,75}</string>
                <key>spriteSourceSize</key>
                <string>{150,75}</string>
                <key>textureRect</key>
                <string>{{413,1},{134,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>action_92.png</string>
            <key>size</key>
            <string>{1608,77}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bbd5526cc6277a901d5adbec1d90245:77448d47d0934913e56edc68295d0b1d:4d2b9f904e143cb9357e8eabc3e3a100$</string>
            <key>textureFileName</key>
            <string>action_92.png</string>
        </dict>
    </dict>
</plist>
