<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_56_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{320,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,89},{320,146}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_56_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,372},{320,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,87},{320,144}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_56_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,218},{320,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,83},{320,152}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_56_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,292},{320,146}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,83},{320,146}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_56_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,440},{320,138}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,88},{320,138}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_56_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{320,214}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{320,214}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_56_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,290}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{320,290}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_56_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,288}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{320,288}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_56.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd0f07c1950ede0e044d97486aba8a69:1/1$</string>
            <key>textureFileName</key>
            <string>action_56.png</string>
        </dict>
    </dict>
</plist>
