<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_18_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,918},{200,108}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,57},{200,108}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>action_18_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{200,122}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,61},{200,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>action_18_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{200,138}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{200,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>action_18_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{200,144}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,41},{200,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>action_18_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{200,160}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{200,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>action_18_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,160}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{200,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>action_18_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{200,152}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{200,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>action_18_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{200,150}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_18.png</string>
            <key>size</key>
            <string>{236,1120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f7b7386637adf53b072543d8ba85e93:ae05bcfaea8eed9a7107091003e0abe0:f5977ba13595f22974f0d62feb195008$</string>
            <key>textureFileName</key>
            <string>action_18.png</string>
        </dict>
    </dict>
</plist>
