<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_89_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,240}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{238,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>action_89_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{194,202}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,24},{194,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>action_89_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{172,168}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,43},{172,168}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>action_89_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{184,182}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,33},{184,182}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>action_89_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{218,216}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{218,216}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>action_89_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1454},{120,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,66},{120,120}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>action_89_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1314},{146,138}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,55},{146,138}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>action_89_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{156,156}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{156,156}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>action_89_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1170},{142,146}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,53},{142,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_89.png</string>
            <key>size</key>
            <string>{242,1576}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dadbd21f1bc71f6f5df8085db79b2c7d:6f7acc586396769c021537546ac2a02f:747f8871b8b27353a63b08314ad02ba2$</string>
            <key>textureFileName</key>
            <string>action_89.png</string>
        </dict>
    </dict>
</plist>
