<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_31_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,62},{194,58}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{194,58}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>action_31_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{200,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{200,58}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>action_31_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,74}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{174,74}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>action_31_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{152,48}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{152,48}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_31.png</string>
            <key>size</key>
            <string>{380,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d8e32cac36eea5c2325a6e30a5d5775:f5c311505765b401e120fe2a3bf81bcf:409f6e33dcd76d1ae4902e0ef7d2ba83$</string>
            <key>textureFileName</key>
            <string>action_31.png</string>
        </dict>
    </dict>
</plist>
