<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_90_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,129},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>action_90_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,129},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>action_90_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>action_90_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,129},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>action_90_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>action_90_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>action_90_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>action_90_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{87,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{87,89}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>action_90_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,170},{77,85}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,25},{77,85}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>action_90_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,91},{77,87}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,25},{77,87}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>action_90_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,91},{77,87}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,25},{77,87}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>action_90_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{75,87}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,25},{75,87}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>action_90_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,180},{69,19}}</string>
                <key>offset</key>
                <string>{-2,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,93},{69,19}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_90.png</string>
            <key>size</key>
            <string>{551,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f6f438716e68ff7f9c15f59257b2f7a:09771951ff56c8681083f082452ba3e8:11b47502dd6095cd96e2156a3273d4da$</string>
            <key>textureFileName</key>
            <string>action_90.png</string>
        </dict>
    </dict>
</plist>
