<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_99_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{288,292}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{288,292}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_99_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1166},{288,278}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{288,278}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_99_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{288,286}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{288,286}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_99_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{290,294}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{290,294}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_99_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,292}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{288,292}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_99_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1446},{256,260}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,18},{256,260}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_99_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1704},{228,232}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,31},{228,232}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_99_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1934},{110,112}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,106},{110,112}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_99_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1934},{94,94}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,115},{94,94}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_99.png</string>
            <key>size</key>
            <string>{296,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b92cfc1d5ebbdfcfb874cfa79d2869e:78dc2590f081bd70008fd3c9957c195f:8e9eb5668fb7dc1c3cdc814d0f2e2eec$</string>
            <key>textureFileName</key>
            <string>action_99.png</string>
        </dict>
    </dict>
</plist>
