<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_91_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,2},{128,67}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{128,67}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>action_91_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,2},{128,67}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{128,67}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>action_91_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2},{132,69}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{132,69}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>action_91_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{132,69}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{132,69}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>action_91_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,2},{128,69}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{128,69}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>action_91_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,2},{124,67}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{124,67}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>action_91_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{128,75}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{128,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>action_91_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{128,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{128,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>action_91_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{134,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{134,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>action_91_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{134,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>action_91_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{132,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{132,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>action_91_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{132,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{132,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_91.png</string>
            <key>size</key>
            <string>{1586,79}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43096ccdce9df5e15084206facd77db7:77448d47d0934913e56edc68295d0b1d:8de1b29709a44a4cd87131864d681052$</string>
            <key>textureFileName</key>
            <string>action_91.png</string>
        </dict>
    </dict>
</plist>
