<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_24_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{126,66}}</string>
                <key>offset</key>
                <string>{5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,62},{126,66}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>action_24_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{132,102}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,27},{132,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>action_24_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{142,100}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{142,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>action_24_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{142,92}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{142,92}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>action_24_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{138,112}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{138,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>action_24_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,112}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{140,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>action_24_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{112,108}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,23},{112,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>action_24_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,70},{68,48}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,27},{68,48}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_24.png</string>
            <key>size</key>
            <string>{944,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51b5083a82b7c8abb0a686ad6978e8ee:6d37756f52e995f36991184253966ad8:5576261dda379c17862e77978fd6597d$</string>
            <key>textureFileName</key>
            <string>action_24.png</string>
        </dict>
    </dict>
</plist>
