<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_32_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{76,24}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,40},{76,24}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>action_32_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{76,62}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{76,62}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>action_32_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{76,72}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{76,72}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>action_32_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,74}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,20},{74,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>action_32_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{64,68}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,19},{64,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>action_32_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{64,68}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,19},{64,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_32.png</string>
            <key>size</key>
            <string>{444,78}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:acf3b18cf4ccad718262d3e4a005a651:46b4a3b44d26b08f14f8bd3681e1e107:d916259c48162172ab3473f54bfe01f0$</string>
            <key>textureFileName</key>
            <string>action_32.png</string>
        </dict>
    </dict>
</plist>
