<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_13_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{94,70}}</string>
                <key>offset</key>
                <string>{13,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{94,70}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>action_13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>action_13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{120,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>action_13_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{120,114}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{120,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>action_13_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{98,72}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{98,72}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>action_13_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{98,70}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{98,70}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>action_13_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{98,58}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,27},{98,58}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_13.png</string>
            <key>size</key>
            <string>{124,638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25ff89a03bb0b72f613597b3a17e5eba:633c010af721ba5f533653188ab9b48a:a74f804aa86f98b685dd8b66dc50118c$</string>
            <key>textureFileName</key>
            <string>action_13.png</string>
        </dict>
    </dict>
</plist>
