<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_15_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{88,112}}</string>
                <key>offset</key>
                <string>{-8,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,126},{88,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>action_15_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{136,112}}</string>
                <key>offset</key>
                <string>{-1,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,122},{136,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>action_15_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{240,118}}</string>
                <key>offset</key>
                <string>{0,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,122},{240,118}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>action_15_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{240,158}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,82},{240,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>action_15_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{240,206}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{240,206}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>action_15_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{240,208}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{240,208}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>action_15_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1078},{240,210}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{240,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>action_15_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1290},{226,210}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{226,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>action_15_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{222,174}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,37},{222,174}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>action_15_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,86}}</string>
                <key>offset</key>
                <string>{-6,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,54},{148,86}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_15.png</string>
            <key>size</key>
            <string>{244,1502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a0daf70aba9647b50410fc09307ffff:8918d36ff6139b03c40deb894f0ef977:e3e71af9b207bbb5eb0613050de53ff6$</string>
            <key>textureFileName</key>
            <string>action_15.png</string>
        </dict>
    </dict>
</plist>
