<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_26_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{158,176}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,71},{158,176}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_26_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,256},{252,230}}</string>
                <key>offset</key>
                <string>{-27,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,51},{252,230}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_26_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{252,230}}</string>
                <key>offset</key>
                <string>{-27,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,52},{252,230}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_26_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{240,236}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,49},{240,236}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_26_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{236,268}}</string>
                <key>offset</key>
                <string>{-19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,52},{236,268}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_26_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,306}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{276,306}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_26_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{232,264}}</string>
                <key>offset</key>
                <string>{16,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,14},{232,264}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_26_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,268},{198,222}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,54},{198,222}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_26_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,272},{204,220}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,55},{204,220}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_26_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,268},{200,218}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,56},{200,218}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_26_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,310},{140,176}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,63},{140,176}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_26.png</string>
            <key>size</key>
            <string>{1278,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcbb7bc62ec7173e4a7dc1c3bc876a41:8f7135b565623294a748e79277039a63:66192887cbc33e79f673774ea506205e$</string>
            <key>textureFileName</key>
            <string>action_26.png</string>
        </dict>
    </dict>
</plist>
