<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_85_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,310},{158,176}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,71},{158,176}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_85_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{252,230}}</string>
                <key>offset</key>
                <string>{-27,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,51},{252,230}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_85_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{252,230}}</string>
                <key>offset</key>
                <string>{-27,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,52},{252,230}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_85_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,234},{240,236}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,49},{240,236}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_85_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{236,268}}</string>
                <key>offset</key>
                <string>{-19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,52},{236,268}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_85_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,306}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{276,306}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_85_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{232,264}}</string>
                <key>offset</key>
                <string>{16,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,14},{232,264}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_85_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,256},{198,222}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,54},{198,222}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_85_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,272},{204,220}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,55},{204,220}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_85_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,268},{200,218}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,56},{200,218}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>action_85_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{138,172}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,67},{138,172}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_85.png</string>
            <key>size</key>
            <string>{1276,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dd0aa5a5e9cb1048d2b6e829ca22a0b:f0d42750a107fb1f15f1134edd01b608:7df8b749688f8ba46b4e4cff47d9b4f8$</string>
            <key>textureFileName</key>
            <string>action_85.png</string>
        </dict>
    </dict>
</plist>
