<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_35_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{30,42}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,84},{30,42}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>action_35_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{30,38}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,88},{30,38}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>action_35_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{30,40}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,86},{30,40}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>action_35_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{28,42}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,84},{28,42}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>action_35_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,50}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,75},{30,50}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>action_35_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{28,56}}</string>
                <key>offset</key>
                <string>{3,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,68},{28,56}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>action_35_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{38,68}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,58},{38,68}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>action_35_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{38,86}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,39},{38,86}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>action_35_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{32,124}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{32,124}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_35.png</string>
            <key>size</key>
            <string>{502,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7761b0394b761361a741dbb3084142d:7bd0f38e8d401b63d76fb221a6498c4d:7dd7c43c64ea9bdcaf8111c7d0db7e04$</string>
            <key>textureFileName</key>
            <string>action_35.png</string>
        </dict>
    </dict>
</plist>
