<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_46_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,444},{80,18}}</string>
                <key>offset</key>
                <string>{3,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,314},{80,18}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_46_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,296},{146,44}}</string>
                <key>offset</key>
                <string>{3,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,303},{146,44}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_46_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,444},{196,46}}</string>
                <key>offset</key>
                <string>{3,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,302},{196,46}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_46_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,394},{244,48}}</string>
                <key>offset</key>
                <string>{4,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,301},{244,48}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_46_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{292,52}}</string>
                <key>offset</key>
                <string>{4,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,299},{292,52}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_46_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{340,54}}</string>
                <key>offset</key>
                <string>{5,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,298},{340,54}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_46_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,86},{390,58}}</string>
                <key>offset</key>
                <string>{5,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,296},{390,58}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_46_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{390,60}}</string>
                <key>offset</key>
                <string>{5,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,295},{390,60}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_46_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,434},{390,60}}</string>
                <key>offset</key>
                <string>{5,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,296},{390,60}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_46_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{390,62}}</string>
                <key>offset</key>
                <string>{5,-126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,295},{390,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_46_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{390,64}}</string>
                <key>offset</key>
                <string>{5,-126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,294},{390,64}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_46_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,366},{390,66}}</string>
                <key>offset</key>
                <string>{5,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,293},{390,66}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_46_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,296},{390,68}}</string>
                <key>offset</key>
                <string>{5,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,292},{390,68}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_46_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,222},{390,72}}</string>
                <key>offset</key>
                <string>{5,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,290},{390,72}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_46_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,146},{390,74}}</string>
                <key>offset</key>
                <string>{5,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,289},{390,74}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_46_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{390,74}}</string>
                <key>offset</key>
                <string>{5,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,290},{390,74}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_46_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{390,76}}</string>
                <key>offset</key>
                <string>{5,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,289},{390,76}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_46_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{390,78}}</string>
                <key>offset</key>
                <string>{5,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,288},{390,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_46_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{390,80}}</string>
                <key>offset</key>
                <string>{5,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,287},{390,80}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_46_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{390,82}}</string>
                <key>offset</key>
                <string>{5,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,286},{390,82}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_46_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,84}}</string>
                <key>offset</key>
                <string>{5,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,285},{390,84}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_46_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{388,86}}</string>
                <key>offset</key>
                <string>{5,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,284},{388,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_46_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_46_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>action_46_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_46.png</string>
            <key>size</key>
            <string>{1088,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e50d2925ddd2563c46c304bc1826689:fa3d53fe79d278cd5c60201c964f258d:5f2022de9a222bd169bbfb8123021c95$</string>
            <key>textureFileName</key>
            <string>action_46.png</string>
        </dict>
    </dict>
</plist>
