<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_97_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,112}}</string>
                <key>offset</key>
                <string>{1,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,174},{70,112}}</string>
                <key>sourceSize</key>
                <string>{100,300}</string>
            </dict>
            <key>bullet_97_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1178},{98,242}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,44},{98,242}}</string>
                <key>sourceSize</key>
                <string>{100,300}</string>
            </dict>
            <key>bullet_97_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{98,274}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{98,274}}</string>
                <key>sourceSize</key>
                <string>{100,300}</string>
            </dict>
            <key>bullet_97_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{98,274}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{98,274}}</string>
                <key>sourceSize</key>
                <string>{100,300}</string>
            </dict>
            <key>bullet_97_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{98,274}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{98,274}}</string>
                <key>sourceSize</key>
                <string>{100,300}</string>
            </dict>
            <key>bullet_97_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{98,274}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{98,274}}</string>
                <key>sourceSize</key>
                <string>{100,300}</string>
            </dict>
            <key>bullet_97_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1422},{60,274}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{60,274}}</string>
                <key>sourceSize</key>
                <string>{100,300}</string>
            </dict>
            <key>bullet_97_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1422},{42,274}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{42,274}}</string>
                <key>sourceSize</key>
                <string>{100,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_97.png</string>
            <key>size</key>
            <string>{116,1698}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fe044d9b83b9f20ec2cdd8b48176966:be8c808fb8eac6f9cec17b30dd73c6d4:1d3fd6d36cf78890fe9498477ee10424$</string>
            <key>textureFileName</key>
            <string>bullet_97.png</string>
        </dict>
    </dict>
</plist>
