<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_51_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,334},{194,206}}</string>
                <key>offset</key>
                <string>{-11,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,64},{194,206}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bullet_51_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{194,334}}</string>
                <key>offset</key>
                <string>{-10,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,66},{194,334}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bullet_51_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,670},{204,330}}</string>
                <key>offset</key>
                <string>{-11,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,70},{204,330}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bullet_51_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{200,332}}</string>
                <key>offset</key>
                <string>{-8,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,68},{200,332}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bullet_51_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,336},{182,332}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,68},{182,332}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bullet_51_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,336},{186,330}}</string>
                <key>offset</key>
                <string>{-1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,70},{186,330}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bullet_51_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,338},{174,334}}</string>
                <key>offset</key>
                <string>{-8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,66},{174,334}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bullet_51_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{174,334}}</string>
                <key>offset</key>
                <string>{-7,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,66},{174,334}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bullet_51_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,670},{174,332}}</string>
                <key>offset</key>
                <string>{-7,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,68},{174,332}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bullet_51_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{118,332}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,68},{118,332}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bullet_51_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,336},{118,332}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,68},{118,332}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bullet_51_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{118,336}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,64},{118,336}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bullet_51_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{118,330}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,70},{118,330}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bullet_51_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,668},{118,328}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,72},{118,328}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bullet_51_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,674},{118,334}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,66},{118,334}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bullet_51_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{118,330}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,70},{118,330}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bullet_51_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,338}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,62},{118,338}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bullet_51_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{118,270}}</string>
                <key>offset</key>
                <string>{-1,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,130},{118,270}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_51.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:289f0fa27e34371d54546b027c4392ef:1/1$</string>
            <key>textureFileName</key>
            <string>bullet_51.png</string>
        </dict>
    </dict>
</plist>
