<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_5_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{98,140}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{98,140}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>bullet_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,146}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,29},{98,146}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>bullet_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,144},{98,138}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,29},{98,138}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>bullet_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{98,140}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{98,140}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>bullet_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{98,140}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{98,140}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>bullet_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,146}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,29},{98,146}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>bullet_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,144},{98,138}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,29},{98,138}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>bullet_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{98,140}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{98,140}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_5.png</string>
            <key>size</key>
            <string>{251,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01717185f25b361168d87fc170a1ebef:f4857f062416f3eec6e9d20d02557206:76c074f24d7a233661348f87300cf1f4$</string>
            <key>textureFileName</key>
            <string>bullet_5.png</string>
        </dict>
    </dict>
</plist>
