<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_33_2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,182},{98,114}}</string>
                <key>offset</key>
                <string>{113,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,77},{98,114}}</string>
                <key>sourceSize</key>
                <string>{360,200}</string>
            </dict>
            <key>bullet_33_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,182},{104,114}}</string>
                <key>offset</key>
                <string>{115,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,61},{104,114}}</string>
                <key>sourceSize</key>
                <string>{360,200}</string>
            </dict>
            <key>bullet_33_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,322},{110,114}}</string>
                <key>offset</key>
                <string>{115,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,45},{110,114}}</string>
                <key>sourceSize</key>
                <string>{360,200}</string>
            </dict>
            <key>bullet_33_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{110,114}}</string>
                <key>offset</key>
                <string>{117,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,50},{110,114}}</string>
                <key>sourceSize</key>
                <string>{360,200}</string>
            </dict>
            <key>bullet_33_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,182},{108,128}}</string>
                <key>offset</key>
                <string>{115,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,33},{108,128}}</string>
                <key>sourceSize</key>
                <string>{360,200}</string>
            </dict>
            <key>bullet_33_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,312},{108,114}}</string>
                <key>offset</key>
                <string>{39,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,46},{108,114}}</string>
                <key>sourceSize</key>
                <string>{360,200}</string>
            </dict>
            <key>bullet_33_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{298,178}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{298,178}}</string>
                <key>sourceSize</key>
                <string>{360,200}</string>
            </dict>
            <key>bullet_33_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,178}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{318,178}}</string>
                <key>sourceSize</key>
                <string>{360,200}</string>
            </dict>
            <key>bullet_33_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,298},{142,150}}</string>
                <key>offset</key>
                <string>{-69,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,10},{142,150}}</string>
                <key>sourceSize</key>
                <string>{360,200}</string>
            </dict>
            <key>bullet_33_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{1,1}}</string>
                <key>offset</key>
                <string>{-179.5,99.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{360,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_33_2.png</string>
            <key>size</key>
            <string>{502,446}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddcc5da19afdab19da47b4b1e06f40b8:068ed6f8e649e95d65f8023d808999f9:7d91d8ae05a38514fe002b2345f4cf38$</string>
            <key>textureFileName</key>
            <string>bullet_33_2.png</string>
        </dict>
    </dict>
</plist>
