<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_7_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{72,154}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,27},{72,154}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>bullet_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,156}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,27},{72,156}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>bullet_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{70,156}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,28},{70,156}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>bullet_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{70,158}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,28},{70,158}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>bullet_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{70,142}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,27},{70,142}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>bullet_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{72,120}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{72,120}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_7.png</string>
            <key>size</key>
            <string>{76,900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9e08c6fca54cf9694e47e3f57bafe2b:162805087d023ee6102184ffc914266c:3e47d794872a6d48265f57a98d53e1f6$</string>
            <key>textureFileName</key>
            <string>bullet_7.png</string>
        </dict>
    </dict>
</plist>
