<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_16_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,164},{264,62}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,94},{264,62}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>bullet_16_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{276,72}}</string>
                <key>offset</key>
                <string>{3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,88},{276,72}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>bullet_16_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,2},{278,84}}</string>
                <key>offset</key>
                <string>{4,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,75},{278,84}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>bullet_16_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,120},{288,98}}</string>
                <key>offset</key>
                <string>{4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,58},{288,98}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>bullet_16_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{316,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{316,160}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>bullet_16_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{316,160}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>bullet_16_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{304,160}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{304,160}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>bullet_16_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{316,158}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{316,158}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>bullet_16_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{316,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{316,160}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>bullet_16_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{316,160}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>bullet_16_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{304,160}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{304,160}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>bullet_16_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{316,158}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{316,158}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>bullet_16_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,2},{302,116}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,44},{302,116}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>bullet_16_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,120},{288,98}}</string>
                <key>offset</key>
                <string>{4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,58},{288,98}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>bullet_16_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,162},{276,82}}</string>
                <key>offset</key>
                <string>{4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,75},{276,82}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_16.png</string>
            <key>size</key>
            <string>{1846,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c80982097b4b0b10c83939bad3b30620:ee5ce4d4d97a864d5ac279e012e9b066:3f7fa3edccbf8738e20b87e360cc2d28$</string>
            <key>textureFileName</key>
            <string>bullet_16.png</string>
        </dict>
    </dict>
</plist>
