<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_13_2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1684},{54,54}}</string>
                <key>offset</key>
                <string>{1,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,146},{54,54}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>bullet_13_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1018},{74,58}}</string>
                <key>offset</key>
                <string>{-1,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,142},{74,58}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>bullet_13_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{78,90}}</string>
                <key>offset</key>
                <string>{0,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,110},{78,90}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>bullet_13_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{78,114}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,86},{78,114}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>bullet_13_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{86,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{86,200}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>bullet_13_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{86,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{86,200}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>bullet_13_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{86,200}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{86,200}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>bullet_13_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{86,200}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>bullet_13_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1482},{70,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{70,200}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>bullet_13_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1280},{70,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{70,200}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>bullet_13_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1078},{70,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{70,200}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_13_2.png</string>
            <key>size</key>
            <string>{90,1740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47fc48e299cdfb0a577e310801578526:36fa6023e498673b95c1174b37422326:c391fa668f1f06c07813899ee32b18ac$</string>
            <key>textureFileName</key>
            <string>bullet_13_2.png</string>
        </dict>
    </dict>
</plist>
