<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_48_2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1212},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,119.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bullet_48_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{108,240}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,0},{108,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bullet_48_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{108,240}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,0},{108,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bullet_48_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{108,240}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,0},{108,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bullet_48_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1454},{90,240}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{90,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bullet_48_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{108,240}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,0},{108,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bullet_48_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{90,240}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{90,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bullet_48_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,240}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,0},{108,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bullet_48_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1696},{74,170}}</string>
                <key>offset</key>
                <string>{8,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,0},{74,170}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_48_2.png</string>
            <key>size</key>
            <string>{112,1868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:510886c3b9d9b26ef7540d236836cc77:bb1df6fa63b7704f9f3c6cd7f0710466:d85be67daf043210a933e255c7aeb6ae$</string>
            <key>textureFileName</key>
            <string>bullet_48_2.png</string>
        </dict>
    </dict>
</plist>
