<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_48_1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{240,200}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{240,200}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bullet_48_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,240}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{226,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bullet_48_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{156,240}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{156,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bullet_48_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{136,228}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{136,228}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bullet_48_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{92,196}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,0},{92,196}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bullet_48_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{92,142}}</string>
                <key>offset</key>
                <string>{-2,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{92,142}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bullet_48_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,96},{84,144}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{84,144}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bullet_48_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,96},{84,138}}</string>
                <key>offset</key>
                <string>{10,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,0},{84,138}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bullet_48_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,232},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,119.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_48_1.png</string>
            <key>size</key>
            <string>{994,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a53b1df7e97c9c9c4118582d427e8bca:9fe06b92b41702c0f27b9e52add6c4df:bac3e817e18f0abfe05c44680c4c7aa3$</string>
            <key>textureFileName</key>
            <string>bullet_48_1.png</string>
        </dict>
    </dict>
</plist>
