<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_87_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{76,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bullet_87_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{76,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bullet_87_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{76,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bullet_87_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{76,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{76,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bullet_87_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{76,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{76,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bullet_87_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{78,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{78,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_87.png</string>
            <key>size</key>
            <string>{472,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc3ada7a5fec856d7ab637fc686c14f6:cad51b79a52166935d513b5bcc69f4c6:627ff4d667f387936cec07f6f09a9677$</string>
            <key>textureFileName</key>
            <string>bullet_87.png</string>
        </dict>
    </dict>
</plist>
