<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_95_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{140,94}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,46},{140,94}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bullet_95_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{140,110}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,30},{140,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bullet_95_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{140,112}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{140,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bullet_95_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{140,128}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{140,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bullet_95_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{140,132}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{140,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bullet_95_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{140,134}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{140,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bullet_95_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{140,136}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{140,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bullet_95_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,136}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{140,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_95.png</string>
            <key>size</key>
            <string>{144,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:acb82409b5f4af85ddbcf2d17773c1ab:30f3c3c1eddfd6bff8d2880e311eb191:9945c19a446c9bf036ab4d957c60ff2c$</string>
            <key>textureFileName</key>
            <string>bullet_95.png</string>
        </dict>
    </dict>
</plist>
