<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_55_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{298,196}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,43},{298,196}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bullet_55_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{298,196}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,44},{298,196}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bullet_55_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{298,196}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,44},{298,196}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bullet_55_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,302},{282,196}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,44},{282,196}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bullet_55_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{268,196}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,43},{268,196}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bullet_55_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,272},{254,196}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,44},{254,196}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bullet_55_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{186,162}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,68},{186,162}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bullet_55_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,190},{138,122}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,97},{138,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bullet_55_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,314},{88,84}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,122},{88,84}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_55.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:baffbc42fc0583e6ef4ae5980e7db751:1/1$</string>
            <key>textureFileName</key>
            <string>bullet_55.png</string>
        </dict>
    </dict>
</plist>
