<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_92_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{57,23}</string>
                <key>spriteSourceSize</key>
                <string>{75,125}</string>
                <key>textureRect</key>
                <string>{{119,220},{57,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_92_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{65,35}</string>
                <key>spriteSourceSize</key>
                <string>{75,125}</string>
                <key>textureRect</key>
                <string>{{178,212},{65,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_92_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,11}</string>
                <key>spriteSize</key>
                <string>{71,47}</string>
                <key>spriteSourceSize</key>
                <string>{75,125}</string>
                <key>textureRect</key>
                <string>{{192,1},{71,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet_92_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{73,53}</string>
                <key>spriteSourceSize</key>
                <string>{75,125}</string>
                <key>textureRect</key>
                <string>{{178,74},{73,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet_92_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{71,63}</string>
                <key>spriteSourceSize</key>
                <string>{75,125}</string>
                <key>textureRect</key>
                <string>{{119,1},{71,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_92_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,25}</string>
                <key>spriteSize</key>
                <string>{57,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,125}</string>
                <key>textureRect</key>
                <string>{{60,84},{57,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_92_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,25}</string>
                <key>spriteSize</key>
                <string>{57,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,125}</string>
                <key>textureRect</key>
                <string>{{119,66},{57,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_92_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,25}</string>
                <key>spriteSize</key>
                <string>{57,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,125}</string>
                <key>textureRect</key>
                <string>{{60,161},{57,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_92_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,25}</string>
                <key>spriteSize</key>
                <string>{57,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,125}</string>
                <key>textureRect</key>
                <string>{{119,143},{57,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_92_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,18}</string>
                <key>spriteSize</key>
                <string>{57,61}</string>
                <key>spriteSourceSize</key>
                <string>{75,125}</string>
                <key>textureRect</key>
                <string>{{178,149},{57,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_92_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-16}</string>
                <key>spriteSize</key>
                <string>{57,81}</string>
                <key>spriteSourceSize</key>
                <string>{75,125}</string>
                <key>textureRect</key>
                <string>{{1,1},{57,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_92_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-16}</string>
                <key>spriteSize</key>
                <string>{57,81}</string>
                <key>spriteSourceSize</key>
                <string>{75,125}</string>
                <key>textureRect</key>
                <string>{{1,84},{57,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_92_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-16}</string>
                <key>spriteSize</key>
                <string>{57,81}</string>
                <key>spriteSourceSize</key>
                <string>{75,125}</string>
                <key>textureRect</key>
                <string>{{60,1},{57,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_92_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-15}</string>
                <key>spriteSize</key>
                <string>{57,81}</string>
                <key>spriteSourceSize</key>
                <string>{75,125}</string>
                <key>textureRect</key>
                <string>{{1,167},{57,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bullet_92.png</string>
            <key>size</key>
            <string>{244,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0854619f622966f8e25f70bac9bb96ec:419494dbb85e48e9a558a3378a691998:d502a626f2d576095cd89b5682368d62$</string>
            <key>textureFileName</key>
            <string>bullet_92.png</string>
        </dict>
    </dict>
</plist>
