<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_35_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,128}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{40,128}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>bullet_35_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{20,136}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{20,136}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>bullet_35_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{20,136}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{20,136}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>bullet_35_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,132},{16,114}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{16,114}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>bullet_35_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,248},{14,106}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{14,106}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>bullet_35_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,248},{14,106}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{14,106}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_35.png</string>
            <key>size</key>
            <string>{44,356}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73f3f090464a381b2dd0d4ad11d4545a:0f2b4e5d699dc2a4b0ad1cd0424ad74f:88ffe228fe31f0a8079be5c3a0f4087f$</string>
            <key>textureFileName</key>
            <string>bullet_35.png</string>
        </dict>
    </dict>
</plist>
