<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_99_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,148}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,78},{148,148}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>bullet_99_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{138,138}}</string>
                <key>offset</key>
                <string>{-11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,80},{138,138}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>bullet_99_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{128,128}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,86},{128,128}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>bullet_99_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,132},{114,114}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,93},{114,114}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>bullet_99_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{80,82}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,109},{80,82}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>bullet_99_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,142},{80,82}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,109},{80,82}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>bullet_99_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,142},{80,82}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,109},{80,82}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>bullet_99_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,152},{80,82}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,109},{80,82}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>bullet_99_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{80,82}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,109},{80,82}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_99.png</string>
            <key>size</key>
            <string>{504,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d11b920abd0724285de1bd3874581f7f:f46844adbafe967e879d7ede4c295707:5b33532766e903036769f159f574c015$</string>
            <key>textureFileName</key>
            <string>bullet_99.png</string>
        </dict>
    </dict>
</plist>
