<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_46_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,988},{12,74}}</string>
                <key>offset</key>
                <string>{1,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,256},{12,74}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bullet_46_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{24,172}}</string>
                <key>offset</key>
                <string>{-4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,158},{24,172}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bullet_46_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{52,264}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,66},{52,264}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bullet_46_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{54,238}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,47},{54,238}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bullet_46_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,174}}</string>
                <key>offset</key>
                <string>{1,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,29},{56,174}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bullet_46_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{52,160}}</string>
                <key>offset</key>
                <string>{2,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,24},{52,160}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>bullet_46_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{50,140}}</string>
                <key>offset</key>
                <string>{2,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,25},{50,140}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_46.png</string>
            <key>size</key>
            <string>{60,1162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:809f8d7de8677adb62f9dfbe5bf2b43d:302f21e7f12ae6823bc2004a4aaa7cba:9922635c19dcdb992686c923d70e33b4$</string>
            <key>textureFileName</key>
            <string>bullet_46.png</string>
        </dict>
    </dict>
</plist>
