<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_38_1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,194}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{198,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bullet_38_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{196,186}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{196,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bullet_38_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{178,166}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{178,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bullet_38_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{186,200}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{186,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bullet_38_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{190,200}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{190,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bullet_38_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{184,182}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{184,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bullet_38_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,2},{148,130}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,30},{148,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bullet_38_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,2},{162,100}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,52},{162,100}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bullet_38_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,104},{84,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,64},{84,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bullet_38_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,104},{62,70}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,65},{62,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_38_1.png</string>
            <key>size</key>
            <string>{1452,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:665ec6275b721f3efc0829b1323b4048:0c4d9582b7e3a05dc2660578c87e59cc:7bf293ac887f584efc4956dd1a743089$</string>
            <key>textureFileName</key>
            <string>bullet_38_1.png</string>
        </dict>
    </dict>
</plist>
