<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_26_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{230,320}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{230,320}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>bullet_26_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,320}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,320}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>bullet_26_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{236,320}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,320}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>bullet_26_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1134},{186,320}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{186,320}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>bullet_26_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1456},{170,270}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{170,270}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>bullet_26_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{164,220}}</string>
                <key>offset</key>
                <string>{-5,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{164,220}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>bullet_26_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1728},{122,130}}</string>
                <key>offset</key>
                <string>{-13,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,0},{122,130}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>bullet_26_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,646},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,159.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>bullet_26_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,646},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,159.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>bullet_26_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,646},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,159.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
            <key>bullet_26_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,646},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,159.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_26.png</string>
            <key>size</key>
            <string>{242,1852}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16e4fceeb0f69775acc26a6d4eecf2c9:b396fed8c28bff4381f898bd1889f2f4:82fe544b2b91f7bc2b3464daff607549$</string>
            <key>textureFileName</key>
            <string>bullet_26.png</string>
        </dict>
    </dict>
</plist>
