<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_56_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{320,246}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{320,246}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>bullet_56_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,292},{320,176}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{320,176}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>bullet_56_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,470},{320,150}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{320,150}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>bullet_56_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,914},{314,142}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{314,142}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>bullet_56_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,770},{320,142}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,91},{320,142}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>bullet_56_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,466},{320,152}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{320,152}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>bullet_56_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{320,152}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,87},{320,152}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>bullet_56_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,622},{320,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,89},{320,146}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>bullet_56_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,768},{320,144}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,89},{320,144}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>bullet_56_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,620},{320,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,89},{320,146}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>bullet_56_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{320,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,87},{320,144}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>bullet_56_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{320,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,83},{320,152}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>bullet_56_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{320,146}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,83},{320,146}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>bullet_56_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{320,138}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,88},{320,138}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>bullet_56_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,250},{320,214}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{320,214}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>bullet_56_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,290}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{320,290}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>bullet_56_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,288}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{320,288}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_56.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22ec6d2eaab951279ce3045b235cf5b3:1/1$</string>
            <key>textureFileName</key>
            <string>bullet_56.png</string>
        </dict>
    </dict>
</plist>
