<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_44_1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,848},{274,194}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,24},{274,194}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>bullet_44_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,566},{280,192}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{280,192}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>bullet_44_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{280,198}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{280,198}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>bullet_44_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,284},{280,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{280,194}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>bullet_44_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1412},{280,200}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{280,200}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>bullet_44_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1130},{280,200}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{280,200}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>bullet_44_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1694},{280,200}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{280,200}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>bullet_44_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1412},{280,200}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{280,200}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>bullet_44_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{280,202}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{280,202}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>bullet_44_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{280,202}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{280,202}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>bullet_44_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{280,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{280,202}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>bullet_44_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{280,200}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{280,200}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>bullet_44_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{280,200}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{280,200}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>bullet_44_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{280,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{280,202}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>bullet_44_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{280,202}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_44_1.png</string>
            <key>size</key>
            <string>{406,1896}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:264e6b88fd414029eb242c73d9c7dc3b:4356c866a551195833481cb27a4827a5:88bc013d3ba95882b5792153bbf55826$</string>
            <key>textureFileName</key>
            <string>bullet_44_1.png</string>
        </dict>
    </dict>
</plist>
