<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_19_1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,190},{16,32}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,0},{16,32}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bullet_19_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,160},{28,60}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,0},{28,60}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bullet_19_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{48,90}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{48,90}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bullet_19_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{70,120}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{70,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bullet_19_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,112},{98,132}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{98,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bullet_19_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{118,134}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{118,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bullet_19_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,136}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{134,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bullet_19_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{146,108}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bullet_19_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,122},{150,82}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,82}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>bullet_19_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,94},{46,64}}</string>
                <key>offset</key>
                <string>{52,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_19_1.png</string>
            <key>size</key>
            <string>{486,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:066785d509235c2365d56bb353c3f3e2:8e4145ca26a0e6bda183cf6dcc96eae5:bf9ef5f96d1387f7fe2f458cb3d7930c$</string>
            <key>textureFileName</key>
            <string>bullet_19_1.png</string>
        </dict>
    </dict>
</plist>
