<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_30_1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,714},{36,156}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{36,156}}</string>
                <key>sourceSize</key>
                <string>{50,240}</string>
            </dict>
            <key>bullet_30_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,486},{36,226}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{36,226}}</string>
                <key>sourceSize</key>
                <string>{50,240}</string>
            </dict>
            <key>bullet_30_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{46,240}}</string>
                <key>sourceSize</key>
                <string>{50,240}</string>
            </dict>
            <key>bullet_30_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{42,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,240}}</string>
                <key>sourceSize</key>
                <string>{50,240}</string>
            </dict>
            <key>bullet_30_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,486},{40,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{40,240}}</string>
                <key>sourceSize</key>
                <string>{50,240}</string>
            </dict>
            <key>bullet_30_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,244},{40,240}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{40,240}}</string>
                <key>sourceSize</key>
                <string>{50,240}</string>
            </dict>
            <key>bullet_30_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{42,240}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{42,240}}</string>
                <key>sourceSize</key>
                <string>{50,240}</string>
            </dict>
            <key>bullet_30_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{40,238}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{40,238}}</string>
                <key>sourceSize</key>
                <string>{50,240}</string>
            </dict>
            <key>bullet_30_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{40,238}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{40,238}}</string>
                <key>sourceSize</key>
                <string>{50,240}</string>
            </dict>
            <key>bullet_30_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{40,238}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{40,238}}</string>
                <key>sourceSize</key>
                <string>{50,240}</string>
            </dict>
            <key>bullet_30_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{40,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{40,240}}</string>
                <key>sourceSize</key>
                <string>{50,240}</string>
            </dict>
            <key>bullet_30_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,728},{34,238}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{34,238}}</string>
                <key>sourceSize</key>
                <string>{50,240}</string>
            </dict>
            <key>bullet_30_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,244},{34,238}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{34,238}}</string>
                <key>sourceSize</key>
                <string>{50,240}</string>
            </dict>
            <key>bullet_30_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{26,220}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{26,220}}</string>
                <key>sourceSize</key>
                <string>{50,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_30_1.png</string>
            <key>size</key>
            <string>{124,968}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a2326ccece28edd4bbb01f8e95f88c2:905c2b98778b45c308b26e4ac80cf5fe:ee6c8c0fcafebdda3c0a3bfa2eb883b1$</string>
            <key>textureFileName</key>
            <string>bullet_30_1.png</string>
        </dict>
    </dict>
</plist>
