<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_32_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,64},{54,74}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{54,74}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>bullet_32_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{74,84}}</string>
                <key>offset</key>
                <string>{1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,84}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>bullet_32_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{60,94}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{60,94}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>bullet_32_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,124}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{60,124}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_32.png</string>
            <key>size</key>
            <string>{236,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ac7438270ba6139dcecc5695cf090e2:83d66ce09e10af02571618d51e5ca6a6:e174c91ef8598c8c3c8fc963cffd72e2$</string>
            <key>textureFileName</key>
            <string>bullet_32.png</string>
        </dict>
    </dict>
</plist>
