<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_14_1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,152},{50,60}}</string>
                <key>offset</key>
                <string>{0,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{150,250}</string>
            </dict>
            <key>bullet_14_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,124},{74,110}}</string>
                <key>offset</key>
                <string>{0,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{74,110}}</string>
                <key>sourceSize</key>
                <string>{150,250}</string>
            </dict>
            <key>bullet_14_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{102,178}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{102,178}}</string>
                <key>sourceSize</key>
                <string>{150,250}</string>
            </dict>
            <key>bullet_14_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,132},{102,178}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{102,178}}</string>
                <key>sourceSize</key>
                <string>{150,250}</string>
            </dict>
            <key>bullet_14_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{128,202}}</string>
                <key>offset</key>
                <string>{-11,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,202}}</string>
                <key>sourceSize</key>
                <string>{150,250}</string>
            </dict>
            <key>bullet_14_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,234}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,234}}</string>
                <key>sourceSize</key>
                <string>{150,250}</string>
            </dict>
            <key>bullet_14_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{150,172}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,172}}</string>
                <key>sourceSize</key>
                <string>{150,250}</string>
            </dict>
            <key>bullet_14_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{82,120}}</string>
                <key>offset</key>
                <string>{34,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{82,120}}</string>
                <key>sourceSize</key>
                <string>{150,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_14_1.png</string>
            <key>size</key>
            <string>{678,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66975c7d04e90fed6f44388c4af02b74:725e41b1653afd92c09e3953676e7e54:d21ce701a2cb21f8c182922f3b092546$</string>
            <key>textureFileName</key>
            <string>bullet_14_1.png</string>
        </dict>
    </dict>
</plist>
