<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_85_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{46,194}}</string>
                <key>offset</key>
                <string>{-1,213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,194}}</string>
                <key>sourceSize</key>
                <string>{48,620}</string>
            </dict>
            <key>bullet_85_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{46,322}}</string>
                <key>offset</key>
                <string>{-1,149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,322}}</string>
                <key>sourceSize</key>
                <string>{48,620}</string>
            </dict>
            <key>bullet_85_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,1206},{24,452}}</string>
                <key>offset</key>
                <string>{-1,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{24,452}}</string>
                <key>sourceSize</key>
                <string>{48,620}</string>
            </dict>
            <key>bullet_85_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,580}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,580}}</string>
                <key>sourceSize</key>
                <string>{48,620}</string>
            </dict>
            <key>bullet_85_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1104},{24,620}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{24,620}}</string>
                <key>sourceSize</key>
                <string>{48,620}</string>
            </dict>
            <key>bullet_85_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{16,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{16,620}}</string>
                <key>sourceSize</key>
                <string>{48,620}</string>
            </dict>
            <key>bullet_85_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,624},{12,580}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{12,580}}</string>
                <key>sourceSize</key>
                <string>{48,620}</string>
            </dict>
            <key>bullet_85_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,1104},{8,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{8,620}}</string>
                <key>sourceSize</key>
                <string>{48,620}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_85.png</string>
            <key>size</key>
            <string>{68,1726}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f645f7117712478ba862dd1770d3eff4:798978dae6f9d06c9ce211fe78908605:79b636f160c432e22ebdff33cde41697$</string>
            <key>textureFileName</key>
            <string>bullet_85.png</string>
        </dict>
    </dict>
</plist>
