<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_34_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,710},{352,88}}</string>
                <key>offset</key>
                <string>{-5,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,112},{352,88}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>bullet_34_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,570},{352,94}}</string>
                <key>offset</key>
                <string>{-5,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,106},{352,94}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>bullet_34_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{352,128}}</string>
                <key>offset</key>
                <string>{-5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,72},{352,128}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>bullet_34_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,666},{352,150}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,50},{352,150}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>bullet_34_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{352,200}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{352,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>bullet_34_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{352,200}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{352,200}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>bullet_34_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{352,184}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,16},{352,184}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>bullet_34_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,356},{352,184}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,16},{352,184}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>bullet_34_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,204},{352,184}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{352,184}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>bullet_34_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{352,184}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{352,184}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>bullet_34_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{352,184}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,16},{352,184}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>bullet_34_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{352,180}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{352,180}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>bullet_34_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,390},{352,178}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{352,178}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>bullet_34_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,702},{352,178}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,22},{352,178}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>bullet_34_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,710},{352,174}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,26},{352,174}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>bullet_34_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,666},{352,174}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,26},{352,174}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>bullet_34_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,356},{352,88}}</string>
                <key>offset</key>
                <string>{-5,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,112},{352,88}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>bullet_34_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{352,88}}</string>
                <key>offset</key>
                <string>{-5,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,112},{352,88}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_34.png</string>
            <key>size</key>
            <string>{986,1064}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e904a78d5d234d120a5fc73f981c7c63:01e39f1d8670064232c31e62aa023c57:b24001a180328b37020b1f8fc9990396$</string>
            <key>textureFileName</key>
            <string>bullet_34.png</string>
        </dict>
    </dict>
</plist>
