<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_36_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,384}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,384}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>bullet_36_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{270,382}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{270,382}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
            <key>bullet_36_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{266,382}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{266,382}}</string>
                <key>sourceSize</key>
                <string>{280,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_36.png</string>
            <key>size</key>
            <string>{814,388}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22c6f04a9829176739d25890fbd69def:89c4fab6f35c490776b0e45bb5410fe6:f38897f59370ef012efc272b675dca95$</string>
            <key>textureFileName</key>
            <string>bullet_36.png</string>
        </dict>
    </dict>
</plist>
