<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_6_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{28,90}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{28,90}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>bullet_6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{28,104}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{28,104}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>bullet_6_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{28,120}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{28,120}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>bullet_6_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,130}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{28,130}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>bullet_6_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,130}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{28,130}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>bullet_6_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,130}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{28,130}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>bullet_6_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,130}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{28,130}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>bullet_6_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,130}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{28,130}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>bullet_6_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{1,1}}</string>
                <key>offset</key>
                <string>{-39.5,79.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_6.png</string>
            <key>size</key>
            <string>{32,457}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bc1c47e934cab77fd5b255659fa4fd7:164ac229977e14ea383c814b6578fd0a:02b47c3a15d911682584fb94d03d1262$</string>
            <key>textureFileName</key>
            <string>bullet_6.png</string>
        </dict>
    </dict>
</plist>
