<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_30_2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,938},{30,56}}</string>
                <key>offset</key>
                <string>{1,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{30,56}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>bullet_30_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,130},{34,80}}</string>
                <key>offset</key>
                <string>{5,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,5},{34,80}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>bullet_30_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{46,126}}</string>
                <key>offset</key>
                <string>{5,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{46,126}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>bullet_30_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,206}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{68,206}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>bullet_30_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{60,186}}</string>
                <key>offset</key>
                <string>{7,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{60,186}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>bullet_30_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{60,182}}</string>
                <key>offset</key>
                <string>{5,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{60,182}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>bullet_30_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,594},{58,186}}</string>
                <key>offset</key>
                <string>{3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{58,186}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>bullet_30_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{60,186}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{60,186}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>bullet_30_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,406},{58,186}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{58,186}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>bullet_30_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,212},{58,192}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{58,192}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>bullet_30_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{54,186}}</string>
                <key>offset</key>
                <string>{6,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{54,186}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>bullet_30_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,782},{54,154}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{54,154}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_30_2.png</string>
            <key>size</key>
            <string>{124,970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:953bf66eb9304db68f5f07eece7af460:9b9b95f3e9f17e936ae9f5f6c2858c4f:171fa45faf3101c858a749899884f8bd$</string>
            <key>textureFileName</key>
            <string>bullet_30_2.png</string>
        </dict>
    </dict>
</plist>
