<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_89_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{42,82}}</string>
                <key>offset</key>
                <string>{4,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,9},{42,82}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>bullet_89_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1528},{56,108}}</string>
                <key>offset</key>
                <string>{5,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{56,108}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>bullet_89_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1272},{72,132}}</string>
                <key>offset</key>
                <string>{5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{72,132}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>bullet_89_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{88,156}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{88,156}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>bullet_89_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{92,154}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{92,154}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>bullet_89_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{88,150}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{88,150}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>bullet_89_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{86,152}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{86,152}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>bullet_89_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{86,156}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{86,156}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>bullet_89_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,156}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{92,156}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>bullet_89_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{84,150}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{84,150}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>bullet_89_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1134},{72,136}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{72,136}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>bullet_89_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1406},{62,120}}</string>
                <key>offset</key>
                <string>{5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{62,120}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_89.png</string>
            <key>size</key>
            <string>{96,1638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8cf0dc07061e3579133681abeb9fce6:b3b3e55ea67721215cf0c7498a449f20:bd5600abfb333c77351a7828c969378e$</string>
            <key>textureFileName</key>
            <string>bullet_89.png</string>
        </dict>
    </dict>
</plist>
