<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_31_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,2},{50,112}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,33},{50,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bullet_31_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,2},{56,130}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,49},{56,130}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bullet_31_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,2},{154,152}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,46},{154,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bullet_31_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{176,152}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,45},{176,152}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bullet_31_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,180}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,33},{218,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bullet_31_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,2},{122,144}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,57},{122,144}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bullet_31_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,2},{134,146}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,48},{134,146}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bullet_31_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{156,156}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,50},{156,156}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bullet_31_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{168,174}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,44},{168,174}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bullet_31_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{178,224}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,8},{178,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bullet_31_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{178,224}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,8},{178,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_31.png</string>
            <key>size</key>
            <string>{1680,184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:319e2c0912b92d6ea4c92fcc14bf9685:12450a76ef3b0f79a2dedafbae53ec21:e9b1e4ac514dc265dc3e21442dad5730$</string>
            <key>textureFileName</key>
            <string>bullet_31.png</string>
        </dict>
    </dict>
</plist>
