<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_11_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,398},{66,74}}</string>
                <key>offset</key>
                <string>{-8,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,176},{66,74}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>bullet_11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,398},{124,94}}</string>
                <key>offset</key>
                <string>{-18,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,156},{124,94}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>bullet_11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,2},{284,174}}</string>
                <key>offset</key>
                <string>{12,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,76},{284,174}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>bullet_11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{300,240}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{300,240}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>bullet_11_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{302,250}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{302,250}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>bullet_11_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{300,250}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{300,250}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>bullet_11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{298,248}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{298,248}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>bullet_11_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,250}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{302,250}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>bullet_11_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,254},{298,222}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{298,222}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>bullet_11_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,254},{302,220}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{302,220}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>bullet_11_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,252},{296,220}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{296,220}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>bullet_11_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,178},{282,218}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,2},{282,218}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_11.png</string>
            <key>size</key>
            <string>{1498,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03d55496470cde3e52ac2dd2496d3c5b:7bd2e6e2d54dcfcf47f40fce7638266d:31875c7ca7c03b2325e672d4444f7c12$</string>
            <key>textureFileName</key>
            <string>bullet_11.png</string>
        </dict>
    </dict>
</plist>
