<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_25_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{304,44}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{304,44}}</string>
                <key>sourceSize</key>
                <string>{320,60}</string>
            </dict>
            <key>bullet_25_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,186},{310,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{310,58}}</string>
                <key>sourceSize</key>
                <string>{320,60}</string>
            </dict>
            <key>bullet_25_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,64},{310,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{310,60}}</string>
                <key>sourceSize</key>
                <string>{320,60}</string>
            </dict>
            <key>bullet_25_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{310,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{310,60}}</string>
                <key>sourceSize</key>
                <string>{320,60}</string>
            </dict>
            <key>bullet_25_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,188},{310,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{310,60}}</string>
                <key>sourceSize</key>
                <string>{320,60}</string>
            </dict>
            <key>bullet_25_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,126},{310,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{310,60}}</string>
                <key>sourceSize</key>
                <string>{320,60}</string>
            </dict>
            <key>bullet_25_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,64},{310,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{310,60}}</string>
                <key>sourceSize</key>
                <string>{320,60}</string>
            </dict>
            <key>bullet_25_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{310,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{310,60}}</string>
                <key>sourceSize</key>
                <string>{320,60}</string>
            </dict>
            <key>bullet_25_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{310,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{310,60}}</string>
                <key>sourceSize</key>
                <string>{320,60}</string>
            </dict>
            <key>bullet_25_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{310,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{310,60}}</string>
                <key>sourceSize</key>
                <string>{320,60}</string>
            </dict>
            <key>bullet_25_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{310,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{310,60}}</string>
                <key>sourceSize</key>
                <string>{320,60}</string>
            </dict>
            <key>bullet_25_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{310,60}}</string>
                <key>sourceSize</key>
                <string>{320,60}</string>
            </dict>
            <key>bullet_25_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,126},{310,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{310,58}}</string>
                <key>sourceSize</key>
                <string>{320,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_25.png</string>
            <key>size</key>
            <string>{1244,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d17f800df527a32ae07c6c90740ac75:f16a8306be22ed007663660d5dc81bd6:e86139bc8c5c638a207744a070a45d60$</string>
            <key>textureFileName</key>
            <string>bullet_25.png</string>
        </dict>
    </dict>
</plist>
