<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_38_2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{34,34}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{34,34}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>bullet_38_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{34,56}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{34,56}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>bullet_38_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{34,56}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{34,56}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>bullet_38_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,66}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{34,66}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_38_2.png</string>
            <key>size</key>
            <string>{38,223}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:910207dcbcc9c1364afb808604db8be6:4dfe1f6b4ae8014e7a005cbe714472b2:bb1dd052ca8fe9cbd562d7047836ae73$</string>
            <key>textureFileName</key>
            <string>bullet_38_2.png</string>
        </dict>
    </dict>
</plist>
