<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_17_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,44},{20,24}}</string>
                <key>offset</key>
                <string>{1,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{20,24}}</string>
                <key>sourceSize</key>
                <string>{50,200}</string>
            </dict>
            <key>bullet_17_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{26,40}}</string>
                <key>offset</key>
                <string>{2,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{26,40}}</string>
                <key>sourceSize</key>
                <string>{50,200}</string>
            </dict>
            <key>bullet_17_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,88}}</string>
                <key>offset</key>
                <string>{-2,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{40,88}}</string>
                <key>sourceSize</key>
                <string>{50,200}</string>
            </dict>
            <key>bullet_17_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,44},{44,188}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,188}}</string>
                <key>sourceSize</key>
                <string>{50,200}</string>
            </dict>
            <key>bullet_17_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{44,188}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{44,188}}</string>
                <key>sourceSize</key>
                <string>{50,200}</string>
            </dict>
            <key>bullet_17_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{44,188}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{44,188}}</string>
                <key>sourceSize</key>
                <string>{50,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_17.png</string>
            <key>size</key>
            <string>{120,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0733c9af5c571205ac2d068ed824a5d:0c3d4290ddd9e9240b93945beef78f38:ce831dcacd7bee9b70aa8a2eeef09ca4$</string>
            <key>textureFileName</key>
            <string>bullet_17.png</string>
        </dict>
    </dict>
</plist>
