<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_84_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,2},{278,204}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{278,204}}</string>
                <key>sourceSize</key>
                <string>{286,230}</string>
            </dict>
            <key>bullet_84_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,2},{278,210}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,15},{278,210}}</string>
                <key>sourceSize</key>
                <string>{286,230}</string>
            </dict>
            <key>bullet_84_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,288},{282,222}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{282,222}}</string>
                <key>sourceSize</key>
                <string>{286,230}</string>
            </dict>
            <key>bullet_84_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{284,228}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,228}}</string>
                <key>sourceSize</key>
                <string>{286,230}</string>
            </dict>
            <key>bullet_84_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,288},{284,222}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{284,222}}</string>
                <key>sourceSize</key>
                <string>{286,230}</string>
            </dict>
            <key>bullet_84_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{286,222}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{286,222}}</string>
                <key>sourceSize</key>
                <string>{286,230}</string>
            </dict>
            <key>bullet_84_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,222}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{286,222}}</string>
                <key>sourceSize</key>
                <string>{286,230}</string>
            </dict>
            <key>bullet_84_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{284,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{284,226}}</string>
                <key>sourceSize</key>
                <string>{286,230}</string>
            </dict>
            <key>bullet_84_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,282},{276,228}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{276,228}}</string>
                <key>sourceSize</key>
                <string>{286,230}</string>
            </dict>
            <key>bullet_84_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,282},{272,220}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{272,220}}</string>
                <key>sourceSize</key>
                <string>{286,230}</string>
            </dict>
            <key>bullet_84_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,290},{274,220}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{274,220}}</string>
                <key>sourceSize</key>
                <string>{286,230}</string>
            </dict>
            <key>bullet_84_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{278,220}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{278,220}}</string>
                <key>sourceSize</key>
                <string>{286,230}</string>
            </dict>
            <key>bullet_84_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{282,204}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,21},{282,204}}</string>
                <key>sourceSize</key>
                <string>{286,230}</string>
            </dict>
            <key>bullet_84_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,2},{152,170}}</string>
                <key>offset</key>
                <string>{-36,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,11},{152,170}}</string>
                <key>sourceSize</key>
                <string>{286,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_84.png</string>
            <key>size</key>
            <string>{1686,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4770e9ab4cdc862f749ccac41463487:17a908d54ddedf6a3293ead07619edd9:01e20a89f3cf580e7739dbf02618cebe$</string>
            <key>textureFileName</key>
            <string>bullet_84.png</string>
        </dict>
    </dict>
</plist>
