<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_40_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,142},{296,60}}</string>
                <key>offset</key>
                <string>{1,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,152},{296,60}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>bullet_40_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,74},{296,66}}</string>
                <key>offset</key>
                <string>{1,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,147},{296,66}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>bullet_40_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,2},{298,70}}</string>
                <key>offset</key>
                <string>{1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,146},{298,70}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>bullet_40_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,118},{294,72}}</string>
                <key>offset</key>
                <string>{1,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,143},{294,72}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>bullet_40_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,142},{294,64}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,152},{294,64}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>bullet_40_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,134},{318,68}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,146},{318,68}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>bullet_40_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,142},{294,64}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,152},{294,64}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>bullet_40_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{318,114}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,105},{318,114}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>bullet_40_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{294,152}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,77},{294,152}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>bullet_40_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,204}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{318,204}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>bullet_40_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{294,130}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,96},{294,130}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>bullet_40_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,134},{318,68}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,146},{318,68}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>bullet_40_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,142},{294,64}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,152},{294,64}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>bullet_40_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,74},{296,66}}</string>
                <key>offset</key>
                <string>{1,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,147},{296,66}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_40.png</string>
            <key>size</key>
            <string>{1828,208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6760f48504fc912e0043cfbc980d5657:c4663bfe7b4709a2c1e6fb98cc336d60:4d9efbff8379bd32c09f537a4129ee09$</string>
            <key>textureFileName</key>
            <string>bullet_40.png</string>
        </dict>
    </dict>
</plist>
