<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_91_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{55,20}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,54},{55,20}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>bullet_91_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{69,44}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,35},{69,44}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>bullet_91_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,60}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,19},{69,60}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>bullet_91_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{55,74}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{55,74}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>bullet_91_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{55,74}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{55,74}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>bullet_91_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{55,74}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{55,74}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>bullet_91_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{55,60}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,19},{55,60}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>bullet_91_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{55,102}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,40},{55,102}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>bullet_91_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{55,102}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,40},{55,102}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>bullet_91_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{55,102}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,40},{55,102}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>bullet_91_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{55,100}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,41},{55,100}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_91.png</string>
            <key>size</key>
            <string>{64,865}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f04b31c18973d330ea1db8c87f7aa05c:38463bd6224ca4eee8c3424c6367d8dc:4b7554f6e7222e16817157217267da64$</string>
            <key>textureFileName</key>
            <string>bullet_91.png</string>
        </dict>
    </dict>
</plist>
