<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_19_2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,704},{128,114}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,2},{128,114}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>bullet_19_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{344,140}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,140}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>bullet_19_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{338,130}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{338,130}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>bullet_19_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,354},{348,146}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{348,146}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>bullet_19_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{350,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,150}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>bullet_19_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{350,148}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,148}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>bullet_19_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{350,138}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{350,138}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>bullet_19_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,150}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>bullet_19_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{350,126}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{350,126}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>bullet_19_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{334,102}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{334,102}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>bullet_19_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,820},{110,76}}</string>
                <key>offset</key>
                <string>{109,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,23},{110,76}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_19_2.png</string>
            <key>size</key>
            <string>{506,950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fa703726bfc79893a9d9e9bbfb62add:78f640d8d02dc68aa40845f9151622e0:fb6380ff0647c329d16bafee79a7f0eb$</string>
            <key>textureFileName</key>
            <string>bullet_19_2.png</string>
        </dict>
    </dict>
</plist>
