<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_29_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,204},{40,70}}</string>
                <key>offset</key>
                <string>{1,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{40,70}}</string>
                <key>sourceSize</key>
                <string>{80,180}</string>
            </dict>
            <key>bullet_29_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,156},{46,72}}</string>
                <key>offset</key>
                <string>{2,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{46,72}}</string>
                <key>sourceSize</key>
                <string>{80,180}</string>
            </dict>
            <key>bullet_29_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{46,102}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{46,102}}</string>
                <key>sourceSize</key>
                <string>{80,180}</string>
            </dict>
            <key>bullet_29_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,148}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{62,148}}</string>
                <key>sourceSize</key>
                <string>{80,180}</string>
            </dict>
            <key>bullet_29_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{58,152}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{58,152}}</string>
                <key>sourceSize</key>
                <string>{80,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_29.png</string>
            <key>size</key>
            <string>{126,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9ec80dcecd719743f7512ac52e69788:d3156d1b071738f0ed68f4fd76a41b55:ac507f6e0e44c51a2b2d8a357a9ec0c9$</string>
            <key>textureFileName</key>
            <string>bullet_29.png</string>
        </dict>
    </dict>
</plist>
