<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_12_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{54,114}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{54,114}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>bullet_12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{60,126}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{60,126}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>bullet_12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{64,128}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{64,128}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>bullet_12_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{70,142}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{70,142}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>bullet_12_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{74,156}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{74,156}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>bullet_12_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{74,158}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,158}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>bullet_12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_12.png</string>
            <key>size</key>
            <string>{78,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6eeaf12059dec0d533a02efd7a283de6:ac09007ddf355dca9072cd80b1c36979:e51b9377fbee2f07a1741104a9741f6a$</string>
            <key>textureFileName</key>
            <string>bullet_12.png</string>
        </dict>
    </dict>
</plist>
