<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_33_1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,300},{52,78}}</string>
                <key>offset</key>
                <string>{26,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,13},{52,78}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>bullet_33_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,104},{56,92}}</string>
                <key>offset</key>
                <string>{26,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,2},{56,92}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>bullet_33_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{62,98}}</string>
                <key>offset</key>
                <string>{28,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{62,98}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>bullet_33_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,100}}</string>
                <key>offset</key>
                <string>{30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{72,100}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>bullet_33_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{80,96}}</string>
                <key>offset</key>
                <string>{30,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,4},{80,96}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>bullet_33_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,206},{58,92}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,8},{58,92}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>bullet_33_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{56,100}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{56,100}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>bullet_33_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{50,100}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{50,100}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>bullet_33_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{44,88}}</string>
                <key>offset</key>
                <string>{-28,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{44,88}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>bullet_33_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,300},{1,1}}</string>
                <key>offset</key>
                <string>{-69.5,49.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_33_1.png</string>
            <key>size</key>
            <string>{122,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ba2f28d7b45631c6dcc4ab81fbe3dd9:d977d909dc06b61900d244fe6bb972c1:e0bdc33624dcf910dcf6f69e44c5e712$</string>
            <key>textureFileName</key>
            <string>bullet_33_1.png</string>
        </dict>
    </dict>
</plist>
