<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_45_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,2},{192,174}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{192,174}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>bullet_45_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{198,192}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,192}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>bullet_45_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{198,194}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,194}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>bullet_45_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{154,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{154,240}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>bullet_45_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{160,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{160,240}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>bullet_45_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,240}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{166,240}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>bullet_45_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{158,240}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{158,240}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>bullet_45_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,2},{160,196}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,44},{160,196}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_45.png</string>
            <key>size</key>
            <string>{1376,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53dab6210b935637d6f394585015dc12:563e12fa830f5373bafe3b7bb49d9e40:e6f9e8caae1c8314a21a78da448b7c27$</string>
            <key>textureFileName</key>
            <string>bullet_45.png</string>
        </dict>
    </dict>
</plist>
