<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_41_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{26,110}}</string>
                <key>offset</key>
                <string>{-19,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{26,110}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>bullet_41_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{142,160}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,52},{142,160}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>bullet_41_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{146,168}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,54},{146,168}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
            <key>bullet_41_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,154}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,51},{132,154}}</string>
                <key>sourceSize</key>
                <string>{160,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_41.png</string>
            <key>size</key>
            <string>{158,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8fae4856e40d54ccf8b77985c58c35d:35b6dbf629560a5804d12852b977f52a:bda87dd5936af6bc44de523dd59f6026$</string>
            <key>textureFileName</key>
            <string>bullet_41.png</string>
        </dict>
    </dict>
</plist>
