<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>devour_open_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,76},{200,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{200,48}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>devour_open_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,76},{200,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{200,48}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>devour_open_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{200,62}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{200,62}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>devour_open_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,66},{200,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{200,56}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>devour_open_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,48},{200,40}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{200,40}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>devour_open_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{200,40}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{200,40}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>devour_open_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,2},{200,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{200,44}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>devour_open_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{200,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{200,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>devour_open_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,70},{200,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{200,54}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>devour_open_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{200,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>devour_open_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{200,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{200,66}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>devour_open_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{200,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>devour_open_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>devour_open_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,64},{194,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{194,52}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>devour_open.png</string>
            <key>size</key>
            <string>{1416,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2aa6a92d4bb961d79763f2aac8ca5d88:81ab86e91b2a7a3b1ede182fdd982598:cc524cc242489277f9873880f416dab5$</string>
            <key>textureFileName</key>
            <string>devour_open.png</string>
        </dict>
    </dict>
</plist>
