<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_ramen_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1872},{182,168}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{182,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_ramen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1702},{186,168}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{186,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_ramen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1532},{186,168}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{186,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_ramen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1362},{188,168}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{188,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_ramen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{190,168}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{190,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_ramen_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1192},{188,168}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{188,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_ramen_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{190,168}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{190,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_ramen_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,168}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{196,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_ramen_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{194,168}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_ramen_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{192,168}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{192,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_ramen_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{190,168}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{190,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_ramen_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{188,168}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{188,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_ramen.png</string>
            <key>size</key>
            <string>{200,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72e11e988fbc6d70dbdc30382823b166:0df0fd8e9af364b8eb5c9e8788a60a5b:9b2861a8618b3dde7ab9ce0e8d251946$</string>
            <key>textureFileName</key>
            <string>eff_ramen.png</string>
        </dict>
    </dict>
</plist>
