<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_shop_circle_back_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,88}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,44},{244,88}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,92},{246,88}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,44},{246,88}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{246,88}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,44},{246,88}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,92},{246,94}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,37},{246,94}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{262,108}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{262,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1350},{282,122}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{282,122}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{296,108}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{296,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,848},{296,108}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{296,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{296,108}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{296,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,738},{296,108}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{296,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,738},{296,108}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{296,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{296,108}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{296,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,628},{296,108}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{296,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{296,108}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{296,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,518},{296,108}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{296,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,518},{296,108}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{296,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{296,108}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{296,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,408},{296,108}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{296,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1398},{294,108}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{294,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,408},{296,108}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{296,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{296,108}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{296,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,298},{296,108}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{296,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,298},{296,108}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{296,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{296,108}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{296,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,188},{296,108}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{296,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1398},{294,108}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{294,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,188},{296,108}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{296,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1398},{294,108}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{294,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1288},{294,108}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{294,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1288},{294,108}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{294,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1288},{294,108}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{294,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1178},{294,108}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{294,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1178},{294,108}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{294,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1178},{294,108}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{294,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1068},{294,108}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{294,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1068},{294,108}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{294,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1068},{294,108}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{294,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,958},{294,108}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{294,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,958},{294,108}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{294,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,848},{294,108}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{294,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,628},{294,108}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{294,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1728},{292,108}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{292,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1728},{292,108}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{292,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1728},{292,108}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{292,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1618},{292,108}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{292,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1618},{292,108}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{292,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1618},{292,108}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{292,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1508},{292,108}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{292,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1508},{292,108}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{292,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1508},{292,108}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{292,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1056},{292,108}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{292,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,762},{292,108}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{292,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,468},{292,108}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{292,108}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1634},{292,128}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{292,128}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1838},{292,130}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{292,130}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1838},{292,132}}</string>
                <key>offset</key>
                <string>{-1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{292,132}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,188},{278,116}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,15},{278,116}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,92},{254,94}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,38},{254,94}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{248,88}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,44},{248,88}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{246,88}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,44},{246,88}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_shop_circle_back_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{246,88}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,44},{246,88}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_shop_circle_back.png</string>
            <key>size</key>
            <string>{1014,1972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d44d89e1c1b91f8fe52dd1b7954cf4e7:d95baf793f5cc50d4ab030fc36fbf8cf:ad60dfbd454556441f4b7d5aaf9287d8$</string>
            <key>textureFileName</key>
            <string>eff_shop_circle_back.png</string>
        </dict>
    </dict>
</plist>
