<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_evolve_card_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{22,126}}</string>
                <key>offset</key>
                <string>{-104,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,39},{22,126}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_evolve_card_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{178,146}}</string>
                <key>offset</key>
                <string>{-42,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,22},{178,146}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_evolve_card_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{212,146}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,22},{212,146}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_evolve_card_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,146}}</string>
                <key>offset</key>
                <string>{36,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,22},{220,146}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_evolve_card_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{188,130}}</string>
                <key>offset</key>
                <string>{40,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,37},{188,130}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_evolve_card_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{46,106}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,47},{46,106}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_evolve_card.png</string>
            <key>size</key>
            <string>{150,880}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c86d2a775a4a97d2d3c1dc173adcd5eb:bca270b11af5d7694b79601884e2d7d9:01858a48b242326eeea0033441b0caba$</string>
            <key>textureFileName</key>
            <string>eff_evolve_card.png</string>
        </dict>
    </dict>
</plist>
