<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_loot_got_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{500,230}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,127},{500,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff_loot_got_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{500,216}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,141},{500,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff_loot_got_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1594},{500,190}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,167},{500,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff_loot_got_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{500,216}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,141},{500,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff_loot_got_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{500,228}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,129},{500,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff_loot_got_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{500,230}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,127},{500,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff_loot_got_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{500,228}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,129},{500,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff_loot_got_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{500,230}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,127},{500,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff_loot_got_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1200},{500,200}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,157},{500,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff_loot_got_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{500,230}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,127},{500,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff_loot_got_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1200},{500,200}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,157},{500,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff_loot_got_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1402},{500,190}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,167},{500,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff_loot_got_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1200},{500,200}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,157},{500,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff_loot_got_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,284}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,73},{500,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eff_loot_got_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,284}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,73},{500,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_loot_got.png</string>
            <key>size</key>
            <string>{504,1786}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d483f291a6bdbffe875e2dd3538a12a:5949f476fa85f485531066497c797a9d:d60212e12d7925745d29ba3dab30d66c$</string>
            <key>textureFileName</key>
            <string>eff_loot_got.png</string>
        </dict>
    </dict>
</plist>
