<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_spirit_explore_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,99.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_explore_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1868},{60,64}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,72},{60,64}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_explore_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1868},{116,120}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,43},{116,120}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_explore_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1828},{170,176}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,15},{170,176}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_explore_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1646},{226,180}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,11},{226,180}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_explore_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1100},{258,180}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{258,180}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_explore_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{260,180}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{260,180}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_explore_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,696},{260,180}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{260,180}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_explore_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{252,180}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{252,180}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_explore_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{258,180}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{258,180}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_explore_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{260,180}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{260,180}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_explore_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{260,182}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{260,182}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_explore_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{260,182}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{260,182}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_explore_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,182}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{260,182}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_explore_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,434},{260,180}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{260,180}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_explore_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1464},{248,180}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{248,180}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_explore_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1504},{204,180}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,11},{204,180}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_explore_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1686},{210,180}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,11},{210,180}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_explore_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1140},{198,180}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,11},{198,180}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_explore_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1322},{204,180}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,11},{204,180}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_explore_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,958},{198,180}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,11},{198,180}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_explore_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{192,176}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{192,176}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_explore_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,180},{190,166}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,25},{190,166}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_explore_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,348},{184,84}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,64},{184,84}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_spirit_explore.png</string>
            <key>size</key>
            <string>{462,2000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5785c8a89b3a7681ce0be538ae93160b:c527ba4e020787ba8d1ba6d64f8e0257:4d4fb631e15c91cd8d86cef897675201$</string>
            <key>textureFileName</key>
            <string>eff_spirit_explore.png</string>
        </dict>
    </dict>
</plist>
