<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_guild_upgrade_title_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{1,1}}</string>
                <key>offset</key>
                <string>{-129.5,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{260,32}</string>
            </dict>
            <key>eff_guild_upgrade_title_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,26},{242,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{242,22}}</string>
                <key>sourceSize</key>
                <string>{260,32}</string>
            </dict>
            <key>eff_guild_upgrade_title_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,2},{242,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{242,22}}</string>
                <key>sourceSize</key>
                <string>{260,32}</string>
            </dict>
            <key>eff_guild_upgrade_title_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,26},{242,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{242,22}}</string>
                <key>sourceSize</key>
                <string>{260,32}</string>
            </dict>
            <key>eff_guild_upgrade_title_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{242,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{242,22}}</string>
                <key>sourceSize</key>
                <string>{260,32}</string>
            </dict>
            <key>eff_guild_upgrade_title_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,26},{242,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{242,22}}</string>
                <key>sourceSize</key>
                <string>{260,32}</string>
            </dict>
            <key>eff_guild_upgrade_title_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{242,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{242,22}}</string>
                <key>sourceSize</key>
                <string>{260,32}</string>
            </dict>
            <key>eff_guild_upgrade_title_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,26},{242,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{242,22}}</string>
                <key>sourceSize</key>
                <string>{260,32}</string>
            </dict>
            <key>eff_guild_upgrade_title_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{242,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{242,22}}</string>
                <key>sourceSize</key>
                <string>{260,32}</string>
            </dict>
            <key>eff_guild_upgrade_title_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,26},{242,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{242,22}}</string>
                <key>sourceSize</key>
                <string>{260,32}</string>
            </dict>
            <key>eff_guild_upgrade_title_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{242,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{242,22}}</string>
                <key>sourceSize</key>
                <string>{260,32}</string>
            </dict>
            <key>eff_guild_upgrade_title_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{242,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{242,22}}</string>
                <key>sourceSize</key>
                <string>{260,32}</string>
            </dict>
            <key>eff_guild_upgrade_title_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{242,22}}</string>
                <key>sourceSize</key>
                <string>{260,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_guild_upgrade_title.png</string>
            <key>size</key>
            <string>{1488,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eae16ffb8b234894f529d90ee36f91b9:626d8ab2f7736414c582fdf4ee8305e8:db322d67ec07d44429694800df4c723e$</string>
            <key>textureFileName</key>
            <string>eff_guild_upgrade_title.png</string>
        </dict>
    </dict>
</plist>
