<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_new_stage_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,2},{24,27}}</string>
                <key>offset</key>
                <string>{-57,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{24,27}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>eff_new_stage_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,2},{40,45}}</string>
                <key>offset</key>
                <string>{-57,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{40,45}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>eff_new_stage_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{48,49}}</string>
                <key>offset</key>
                <string>{-54,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{48,49}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>eff_new_stage_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,2},{70,43}}</string>
                <key>offset</key>
                <string>{-40,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{70,43}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>eff_new_stage_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,2},{106,45}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{106,45}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>eff_new_stage_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{124,49}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{124,49}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>eff_new_stage_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{134,47}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{134,47}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>eff_new_stage_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{152,53}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>eff_new_stage_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,2},{148,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{148,45}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>eff_new_stage_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,2},{146,43}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{146,43}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>eff_new_stage_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{148,45}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{148,45}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>eff_new_stage_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{146,49}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{146,49}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>eff_new_stage_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{148,49}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{148,49}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>eff_new_stage_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{150,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{150,49}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
            <key>eff_new_stage_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,2},{146,41}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{146,41}}</string>
                <key>sourceSize</key>
                <string>{160,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_new_stage.png</string>
            <key>size</key>
            <string>{1762,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0cb7beb8e6a3634208172c39ba27e46:76f6026c7fd6d2ba03475f3f2fc05305:7e3de752a0188fc4b4f22d29f145654d$</string>
            <key>textureFileName</key>
            <string>eff_new_stage.png</string>
        </dict>
    </dict>
</plist>
