<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_bg_first_card_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1210},{250,240}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_bg_first_card_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1210},{250,240}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_bg_first_card_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,968},{250,240}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_bg_first_card_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{250,240}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_bg_first_card_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{250,238}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{250,238}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_bg_first_card_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,726},{250,240}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_bg_first_card_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,238}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{250,238}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_bg_first_card_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{250,240}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_bg_first_card_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,484},{250,240}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_bg_first_card_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{250,240}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_bg_first_card_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,242},{250,240}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_bg_first_card_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{250,240}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_bg_first_card.png</string>
            <key>size</key>
            <string>{506,1452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21670094c77304dd9d3d808f903b28bb:d8337ebda0137849691dbf4d33136145:438d3a75f9c9ead912bf7cbdfdd13b36$</string>
            <key>textureFileName</key>
            <string>eff_bg_first_card.png</string>
        </dict>
    </dict>
</plist>
