<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_evolve_bottomright_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,256},{74,68}}</string>
                <key>offset</key>
                <string>{62,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,232},{74,68}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_bottomright_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,406},{100,174}}</string>
                <key>offset</key>
                <string>{24,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,111},{100,174}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_bottomright_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{206,252}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,42},{206,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_bottomright_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,280}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{300,280}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_bottomright_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,256},{122,196}}</string>
                <key>offset</key>
                <string>{21,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,96},{122,196}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_bottomright_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,272},{136,210}}</string>
                <key>offset</key>
                <string>{15,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,83},{136,210}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_bottomright_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,284},{152,224}}</string>
                <key>offset</key>
                <string>{10,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,69},{152,224}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_bottomright_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,264},{170,240}}</string>
                <key>offset</key>
                <string>{7,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,54},{170,240}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_bottomright_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{204,260}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,29},{204,260}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_bottomright_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{224,268}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,17},{224,268}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_bottomright_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,204},{238,200}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,44},{238,200}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_bottomright_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{224,268}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,17},{224,268}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_bottomright_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{238,200}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,44},{238,200}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_bottomright_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,406},{84,106}}</string>
                <key>offset</key>
                <string>{-89,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,107},{84,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_evolve_bottomright.png</string>
            <key>size</key>
            <string>{1184,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68fcefc82b7a925af181fd1288fb6313:25d81317aafece0ae407dd0e343f6dfb:9ed44ff146097a89b5586b771853ec74$</string>
            <key>textureFileName</key>
            <string>eff_evolve_bottomright.png</string>
        </dict>
    </dict>
</plist>
