<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_psychic_surgery_smog_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{84,82}}</string>
                <key>offset</key>
                <string>{-4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,141},{84,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_psychic_surgery_smog_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,904},{170,168}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,97},{170,168}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_psychic_surgery_smog_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1732},{212,214}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,64},{212,214}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_psychic_surgery_smog_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1732},{256,252}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,36},{256,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_psychic_surgery_smog_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1468},{262,266}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,30},{262,266}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_psychic_surgery_smog_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1194},{272,280}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,18},{272,280}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_psychic_surgery_smog_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{288,294}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{288,294}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_psychic_surgery_smog_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_psychic_surgery_smog_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_psychic_surgery_smog_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{300,296}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{300,296}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_psychic_surgery_smog.png</string>
            <key>size</key>
            <string>{470,1990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09e1168a353e1ea9b2f1a407eb55ee85:b23bc5cb35c770289a9d5dcee576c809:a84d58fa849e509d548db13e56432524$</string>
            <key>textureFileName</key>
            <string>eff_psychic_surgery_smog.png</string>
        </dict>
    </dict>
</plist>
