<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_breakdown_collecting_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,232},{82,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,5},{82,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_breakdown_collecting_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{162,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,5},{162,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_breakdown_collecting_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,244},{224,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{224,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_breakdown_collecting_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{238,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{238,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_breakdown_collecting_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{218,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{218,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_breakdown_collecting_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,244},{216,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{216,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_breakdown_collecting_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,240}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{246,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_breakdown_collecting_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,244},{220,240}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{220,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_breakdown_collecting_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,250},{232,240}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{232,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_breakdown_collecting_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{228,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{228,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_breakdown_collecting_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{230,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{230,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_breakdown_collecting_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,2},{228,208}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,22},{228,208}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_breakdown_collecting.png</string>
            <key>size</key>
            <string>{1300,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adc1a2854fcd8798debcb99be0295dd2:5456df5c45eb233f99f6304847f88003:8718ef614021f6d630950ae462e3ad41$</string>
            <key>textureFileName</key>
            <string>eff_breakdown_collecting.png</string>
        </dict>
    </dict>
</plist>
