<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_spirit_background_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,572},{252,186}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{252,186}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,192},{252,188}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{252,188}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,2},{252,188}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{252,188}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,382},{252,188}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{252,188}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,506},{250,188}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{250,188}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,382},{250,188}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{250,188}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{254,188}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{254,188}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,192},{254,188}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{254,188}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,382},{254,188}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{254,188}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{254,188}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{254,188}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,192},{254,188}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{254,188}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,572},{254,186}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{254,186}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,572},{254,186}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{254,186}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,382},{254,188}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{254,188}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{254,188}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{254,188}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,192},{254,188}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{254,188}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,2},{250,186}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{250,186}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,254},{250,188}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{250,188}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,192},{252,188}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{252,188}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,382},{252,188}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{252,188}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,382},{254,188}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{254,188}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{254,188}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{254,188}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,192},{254,188}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{254,188}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{254,188}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{254,188}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{254,188}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{254,188}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,572},{254,186}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{254,186}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,572},{254,186}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{254,186}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{254,188}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{254,188}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,188}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{254,188}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_background_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{254,186}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{254,186}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_spirit_background.png</string>
            <key>size</key>
            <string>{1980,760}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:788730f44824898ecbff7c5edefec2db:1ccd2b9569e1b1d810579b8d0ec9d270:8dd739aa4c5222f143936ce607e93616$</string>
            <key>textureFileName</key>
            <string>eff_spirit_background.png</string>
        </dict>
    </dict>
</plist>
