<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_psychic_surgery_disappear_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{86,146}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,27},{86,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_psychic_surgery_disappear_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,90},{88,142}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,31},{88,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_psychic_surgery_disappear_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{88,146}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,27},{88,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_psychic_surgery_disappear_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,146}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,27},{88,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_psychic_surgery_disappear.png</string>
            <key>size</key>
            <string>{240,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a59ac7f1c7fc279365914114ecfc584c:ebbeeec9018c8aeab17eea45d713005c:1d727493828afb0ace30188a5cce68e7$</string>
            <key>textureFileName</key>
            <string>eff_psychic_surgery_disappear.png</string>
        </dict>
    </dict>
</plist>
