<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_special_skill_next_round_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,164}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,11},{134,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_special_skill_next_round_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,2},{132,162}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,12},{132,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_special_skill_next_round_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{130,164}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,12},{130,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_special_skill_next_round_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{132,164}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,12},{132,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_special_skill_next_round_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{132,162}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,12},{132,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_special_skill_next_round_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{132,162}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,11},{132,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_special_skill_next_round_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,2},{130,162}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,11},{130,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_special_skill_next_round_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,2},{130,162}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,11},{130,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_special_skill_next_round_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{132,164}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,11},{132,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_special_skill_next_round_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,2},{130,162}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,12},{130,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_special_skill_next_round_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{132,164}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,11},{132,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_special_skill_next_round_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{132,164}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,11},{132,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_special_skill_next_round.png</string>
            <key>size</key>
            <string>{1604,168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14f91c05a0d2c9de9903a1df7cddd2a7:8dec1fc94eaf2186d588ebf3dccb22c1:9d3e897aaaefcfdcc66137597c541476$</string>
            <key>textureFileName</key>
            <string>eff_special_skill_next_round.png</string>
        </dict>
    </dict>
</plist>
