<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_spirit_fragment_obtain_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{62,56}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{62,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>eff_spirit_fragment_obtain_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{74,70}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{74,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>eff_spirit_fragment_obtain_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{74,74}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{74,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>eff_spirit_fragment_obtain_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{78,80}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{78,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>eff_spirit_fragment_obtain_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{80,84}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{80,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>eff_spirit_fragment_obtain_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{82,84}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{82,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>eff_spirit_fragment_obtain_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{84,86}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{84,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>eff_spirit_fragment_obtain_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{88,86}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>eff_spirit_fragment_obtain_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,88}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{90,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>eff_spirit_fragment_obtain_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{88,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{88,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>eff_spirit_fragment_obtain_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{94,86}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{94,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>eff_spirit_fragment_obtain_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,88},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,49.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_spirit_fragment_obtain.png</string>
            <key>size</key>
            <string>{906,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c57d7de073f8dee2a733bb24290cd3a:a5ee651d4794ae27e213dfe660cd2640:64846d7907e50316ca2dac030aee072c$</string>
            <key>textureFileName</key>
            <string>eff_spirit_fragment_obtain.png</string>
        </dict>
    </dict>
</plist>
