<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_breakdown_exploding_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,2},{102,128}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,56},{102,128}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_breakdown_exploding_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,106},{110,136}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,52},{110,136}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_breakdown_exploding_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,2},{120,146}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,47},{120,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_breakdown_exploding_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,2},{130,156}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,42},{130,156}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_breakdown_exploding_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,2},{140,168}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,35},{140,168}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_breakdown_exploding_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,2},{140,170}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,38},{140,170}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_breakdown_exploding_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{192,224}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{192,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_breakdown_exploding_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{232,232}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{232,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_breakdown_exploding_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{244,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{244,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_breakdown_exploding_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,240}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{242,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_breakdown_exploding_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{238,236}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{238,236}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_breakdown_exploding.png</string>
            <key>size</key>
            <string>{1826,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29fbe83584190401a3f486c6457ac0e4:188a272257edd1b6d18bf59584ff2651:6bac46d8afa8301539fb007b429b22b0$</string>
            <key>textureFileName</key>
            <string>eff_breakdown_exploding.png</string>
        </dict>
    </dict>
</plist>
