<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_fury_prog_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{14,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,136}}</string>
                <key>sourceSize</key>
                <string>{14,136}</string>
            </dict>
            <key>eff_fury_prog_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{14,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,136}}</string>
                <key>sourceSize</key>
                <string>{14,136}</string>
            </dict>
            <key>eff_fury_prog_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{14,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,136}}</string>
                <key>sourceSize</key>
                <string>{14,136}</string>
            </dict>
            <key>eff_fury_prog_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{14,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,136}}</string>
                <key>sourceSize</key>
                <string>{14,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_fury_prog.png</string>
            <key>size</key>
            <string>{18,554}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a699df9c925c15bc1af8198204ce4f7:1e61f8495ae167319a300b2c37adbb03:29b9cce23342833deffec56a0c2249c6$</string>
            <key>textureFileName</key>
            <string>eff_fury_prog.png</string>
        </dict>
    </dict>
</plist>
