<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_spirit_obtain_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1592},{168,130}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,29},{168,130}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_obtain_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1398},{264,192}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{264,192}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_obtain_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1200},{274,196}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{274,196}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_obtain_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1112},{274,196}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{274,196}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_obtain_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,836},{274,198}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{274,198}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_obtain_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{276,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{276,198}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_obtain_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{276,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{276,198}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_obtain_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,558},{276,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{276,198}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_obtain_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{276,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{276,198}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_obtain_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,280},{276,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{276,198}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_obtain_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{276,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{276,198}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_obtain_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{276,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{276,198}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_obtain_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{276,198}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_obtain_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{274,196}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{274,196}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>eff_spirit_obtain_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1388},{272,194}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{272,194}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_spirit_obtain.png</string>
            <key>size</key>
            <string>{480,1724}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6aa92a7dea49b41f6b4e2ebb68b7066b:08a2a06b3445f909f99b1fce08140d90:49777d742bed2ed4cb2707f36966268a$</string>
            <key>textureFileName</key>
            <string>eff_spirit_obtain.png</string>
        </dict>
    </dict>
</plist>
