<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_guild_icon_orange__00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{6,26}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,52},{6,26}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_orange__01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{14,40}}</string>
                <key>offset</key>
                <string>{-35,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,39},{14,40}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_orange__02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{20,44}}</string>
                <key>offset</key>
                <string>{-31,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,35},{20,44}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_orange__03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{28,44}}</string>
                <key>offset</key>
                <string>{-28,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,35},{28,44}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_orange__04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{36,46}}</string>
                <key>offset</key>
                <string>{-24,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,33},{36,46}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_orange__05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{42,46}}</string>
                <key>offset</key>
                <string>{-20,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,33},{42,46}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_orange__06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{50,46}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,33},{50,46}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_orange__07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{56,46}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,33},{56,46}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_orange__08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{58,44}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,33},{58,44}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_orange__09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{60,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,32},{60,42}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_orange__10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,46}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,32},{58,46}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_orange__11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{54,46}}</string>
                <key>offset</key>
                <string>{15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,33},{54,46}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_orange__12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{46,46}}</string>
                <key>offset</key>
                <string>{19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,33},{46,46}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_orange__13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{38,46}}</string>
                <key>offset</key>
                <string>{23,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,33},{38,46}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_orange__14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{30,46}}</string>
                <key>offset</key>
                <string>{27,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,33},{30,46}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_orange__15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{22,44}}</string>
                <key>offset</key>
                <string>{31,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,35},{22,44}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_orange__16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{14,40}}</string>
                <key>offset</key>
                <string>{35,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,39},{14,40}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_orange__17.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,628},{4,20}}</string>
                <key>offset</key>
                <string>{40,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,53},{4,20}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_guild_icon_orange_.png</string>
            <key>size</key>
            <string>{50,668}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f2d3bdf1eace0cefd1e9e1973bf820d:02ff0fc42b44c07b6a03af2fe042cde9:6d9ace6ee820f9e2b8200ee4be1970ff$</string>
            <key>textureFileName</key>
            <string>eff_guild_icon_orange_.png</string>
        </dict>
    </dict>
</plist>
