<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_up_yellow_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{40,6}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,64},{40,6}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>eff_up_yellow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{42,36}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{42,36}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>eff_up_yellow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{40,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{40,48}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>eff_up_yellow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,60}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>eff_up_yellow_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{40,58}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,58}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>eff_up_yellow_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{40,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{40,52}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>eff_up_yellow_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{40,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,19},{40,44}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>eff_up_yellow_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{40,32}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,38},{40,32}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>eff_up_yellow_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{40,28}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,44},{40,28}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>eff_up_yellow_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{40,34}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,34},{40,34}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>eff_up_yellow_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{40,40}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>eff_up_yellow_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{40,42}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,21},{40,42}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>eff_up_yellow_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{40,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,19},{40,44}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_up_yellow.png</string>
            <key>size</key>
            <string>{512,44}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6aa774aeba3ad4c50115020c7d89b93f:f2a99c7be9ad3706c2292c23843a286c:2c9c63826cf849c02624800bdf80d834$</string>
            <key>textureFileName</key>
            <string>eff_up_yellow.png</string>
        </dict>
    </dict>
</plist>
