<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_box_silver_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1380},{312,158}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,183},{312,158}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_silver_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1380},{312,158}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,183},{312,158}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_silver_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1380},{312,158}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,183},{312,158}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_silver_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1210},{312,168}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,173},{312,168}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_silver_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{312,168}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,173},{312,168}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_silver_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{312,180}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,161},{312,180}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_silver_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{312,196}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,145},{312,196}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_silver_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1540},{358,210}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,131},{358,210}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_silver_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{312,214}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,127},{312,214}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_silver_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{312,218}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,123},{312,218}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_silver_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,220}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,121},{312,220}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_silver_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,220}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,121},{312,220}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_silver_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,220}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,121},{312,220}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_box_silver.png</string>
            <key>size</key>
            <string>{316,1900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8e47fbb7a19a5086f72e1765a9cf136:c2a048137f8265e0f124334478842a19:7b7ba368d5a49e09cb7406043950cfed$</string>
            <key>textureFileName</key>
            <string>eff_box_silver.png</string>
        </dict>
    </dict>
</plist>
