<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_campaign_clear_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,2},{518,16}}</string>
                <key>offset</key>
                <string>{225,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,36},{518,16}}</string>
                <key>sourceSize</key>
                <string>{990,92}</string>
            </dict>
            <key>eff_campaign_clear_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,20},{506,16}}</string>
                <key>offset</key>
                <string>{182,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,36},{506,16}}</string>
                <key>sourceSize</key>
                <string>{990,92}</string>
            </dict>
            <key>eff_campaign_clear_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,38},{486,16}}</string>
                <key>offset</key>
                <string>{140,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,36},{486,16}}</string>
                <key>sourceSize</key>
                <string>{990,92}</string>
            </dict>
            <key>eff_campaign_clear_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{500,74}}</string>
                <key>offset</key>
                <string>{81,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,7},{500,74}}</string>
                <key>sourceSize</key>
                <string>{990,92}</string>
            </dict>
            <key>eff_campaign_clear_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{518,74}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,8},{518,74}}</string>
                <key>sourceSize</key>
                <string>{990,92}</string>
            </dict>
            <key>eff_campaign_clear_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{538,74}}</string>
                <key>offset</key>
                <string>{-43,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,8},{538,74}}</string>
                <key>sourceSize</key>
                <string>{990,92}</string>
            </dict>
            <key>eff_campaign_clear_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,78},{474,74}}</string>
                <key>offset</key>
                <string>{-146,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,8},{474,74}}</string>
                <key>sourceSize</key>
                <string>{990,92}</string>
            </dict>
            <key>eff_campaign_clear_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,56},{412,74}}</string>
                <key>offset</key>
                <string>{-250,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,8},{412,74}}</string>
                <key>sourceSize</key>
                <string>{990,92}</string>
            </dict>
            <key>eff_campaign_clear_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{280,76}}</string>
                <key>offset</key>
                <string>{-312,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,7},{280,76}}</string>
                <key>sourceSize</key>
                <string>{990,92}</string>
            </dict>
            <key>eff_campaign_clear_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,154},{278,76}}</string>
                <key>offset</key>
                <string>{-309,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,7},{278,76}}</string>
                <key>sourceSize</key>
                <string>{990,92}</string>
            </dict>
            <key>eff_campaign_clear_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,90},{276,76}}</string>
                <key>offset</key>
                <string>{-306,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,7},{276,76}}</string>
                <key>sourceSize</key>
                <string>{990,92}</string>
            </dict>
            <key>eff_campaign_clear_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,154},{276,76}}</string>
                <key>offset</key>
                <string>{-303,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,7},{276,76}}</string>
                <key>sourceSize</key>
                <string>{990,92}</string>
            </dict>
            <key>eff_campaign_clear_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,154},{276,76}}</string>
                <key>offset</key>
                <string>{-303,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,7},{276,76}}</string>
                <key>sourceSize</key>
                <string>{990,92}</string>
            </dict>
            <key>eff_campaign_clear_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,90},{284,80}}</string>
                <key>offset</key>
                <string>{-301,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,5},{284,80}}</string>
                <key>sourceSize</key>
                <string>{990,92}</string>
            </dict>
            <key>eff_campaign_clear_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,2},{292,86}}</string>
                <key>offset</key>
                <string>{-299,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,2},{292,86}}</string>
                <key>sourceSize</key>
                <string>{990,92}</string>
            </dict>
            <key>eff_campaign_clear_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,132},{300,92}}</string>
                <key>offset</key>
                <string>{-298,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{300,92}}</string>
                <key>sourceSize</key>
                <string>{990,92}</string>
            </dict>
            <key>eff_campaign_clear_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,154},{276,76}}</string>
                <key>offset</key>
                <string>{-303,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,7},{276,76}}</string>
                <key>sourceSize</key>
                <string>{990,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_campaign_clear.png</string>
            <key>size</key>
            <string>{2022,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a12c8f848fd4dbed3f1cd6a94775e93:416d0261351c982212b7bc25bfef3890:4040eedeaeaf5a91d5761ad248489917$</string>
            <key>textureFileName</key>
            <string>eff_campaign_clear.png</string>
        </dict>
    </dict>
</plist>
