<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_refresh_influence_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{246,61}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{246,61}}</string>
                <key>sourceSize</key>
                <string>{250,75}</string>
            </dict>
            <key>eff_refresh_influence_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,605},{248,65}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{248,65}}</string>
                <key>sourceSize</key>
                <string>{250,75}</string>
            </dict>
            <key>eff_refresh_influence_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{250,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{250,65}}</string>
                <key>sourceSize</key>
                <string>{250,75}</string>
            </dict>
            <key>eff_refresh_influence_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{250,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{250,65}}</string>
                <key>sourceSize</key>
                <string>{250,75}</string>
            </dict>
            <key>eff_refresh_influence_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{250,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{250,65}}</string>
                <key>sourceSize</key>
                <string>{250,75}</string>
            </dict>
            <key>eff_refresh_influence_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{250,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{250,65}}</string>
                <key>sourceSize</key>
                <string>{250,75}</string>
            </dict>
            <key>eff_refresh_influence_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{250,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{250,65}}</string>
                <key>sourceSize</key>
                <string>{250,75}</string>
            </dict>
            <key>eff_refresh_influence_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{250,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{250,65}}</string>
                <key>sourceSize</key>
                <string>{250,75}</string>
            </dict>
            <key>eff_refresh_influence_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{250,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{250,65}}</string>
                <key>sourceSize</key>
                <string>{250,75}</string>
            </dict>
            <key>eff_refresh_influence_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{250,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{250,65}}</string>
                <key>sourceSize</key>
                <string>{250,75}</string>
            </dict>
            <key>eff_refresh_influence_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{250,65}}</string>
                <key>sourceSize</key>
                <string>{250,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_refresh_influence.png</string>
            <key>size</key>
            <string>{254,735}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63ac2fcb44fc5a31ff399cc97a85b1c8:4dd45153a53af2c9b289f334549abfe1:c0de6b712e980f0bee25c79a0a9cebf1$</string>
            <key>textureFileName</key>
            <string>eff_refresh_influence.png</string>
        </dict>
    </dict>
</plist>
