<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_evolve_center_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,606},{144,144}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,70},{144,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_center_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{300,298}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,298}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_center_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_center_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_evolve_center.png</string>
            <key>size</key>
            <string>{448,908}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8a7488b4237ef8f3eea6a6e4c097f27:b1a645ee770dc3d79ea9e1e4802f1884:11d9d161903d5188c1a9f09b9905dc2e$</string>
            <key>textureFileName</key>
            <string>eff_evolve_center.png</string>
        </dict>
    </dict>
</plist>
