<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_box_green_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,348},{202,156}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,187},{202,156}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_green_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,348},{202,156}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,187},{202,156}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_green_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,348},{202,156}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,187},{202,156}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_green_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{204,156}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,187},{204,156}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_green_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,206},{204,160}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,183},{204,160}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_green_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{202,174}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,169},{202,174}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_green_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,226},{202,196}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,147},{202,196}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_green_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,230},{202,214}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,129},{202,214}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_green_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{202,222}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,121},{202,222}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_green_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{202,226}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,117},{202,226}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_green_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,344}}</string>
                <key>offset</key>
                <string>{94,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,0},{390,344}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_green_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,344}}</string>
                <key>offset</key>
                <string>{94,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,0},{390,344}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_green_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,344}}</string>
                <key>offset</key>
                <string>{94,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,0},{390,344}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_box_green.png</string>
            <key>size</key>
            <string>{978,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:549cea58fe7248aae673811da25e3a39:f946735601f2c79e40539eccc5edcd29:f4ca46ed4a6a25e8180bb4cbc5362c3b$</string>
            <key>textureFileName</key>
            <string>eff_box_green.png</string>
        </dict>
    </dict>
</plist>
