<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_newbie_frame_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,144},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{100,100}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>eff_newbie_frame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,144},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{106,106}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>eff_newbie_frame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,138},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{112,112}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>eff_newbie_frame_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,130},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{120,120}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>eff_newbie_frame_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{126,126}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>eff_newbie_frame_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{134,134}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>eff_newbie_frame_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{140,140}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>eff_newbie_frame_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>eff_newbie_frame_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{136,136}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_newbie_frame.png</string>
            <key>size</key>
            <string>{696,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:020c0a1507c05b1f479a0737a247491d:c1b3076a727f4d106f1cd9d24fbe6d59:5e6c9bce943adb72819aa26f9a5a4253$</string>
            <key>textureFileName</key>
            <string>eff_newbie_frame.png</string>
        </dict>
    </dict>
</plist>
