<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_box_gold_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1294},{198,150}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,190},{198,150}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_gold_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1294},{198,150}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,190},{198,150}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_gold_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1294},{198,150}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,190},{198,150}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_gold_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{198,154}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,186},{198,154}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_gold_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{198,164}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,176},{198,164}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_gold_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{198,176}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,164},{198,176}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_gold_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1446},{196,192}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,148},{196,192}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_gold_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{196,204}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,136},{196,204}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_gold_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{196,212}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,128},{196,212}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_gold_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{196,218}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,122},{196,218}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_gold_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,218}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,122},{196,218}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_gold_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,218}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,122},{196,218}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_gold_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,218}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,122},{196,218}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_box_gold.png</string>
            <key>size</key>
            <string>{222,1640}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a76d793a671a0e0554f311d7d72abc8f:dbbf1a1e48757e5452b971d8dd294aa1:33b202513b0d2e32b2de91b0fc43d7de$</string>
            <key>textureFileName</key>
            <string>eff_box_gold.png</string>
        </dict>
    </dict>
</plist>
