<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_shop_1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,470},{70,70}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,166},{70,70}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,326},{106,106}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,148},{106,106}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,326},{140,142}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,131},{140,142}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,326},{176,178}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,114},{176,178}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,326},{194,212}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,99},{194,212}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,326},{194,218}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,97},{194,218}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,326},{208,218}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,97},{208,218}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,326},{218,222}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,93},{218,222}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{240,218}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,97},{240,218}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,324},{238,220}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,97},{238,220}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,2},{224,228}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,93},{224,228}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,2},{242,322}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,38},{242,322}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{242,322}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,38},{242,322}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{242,322}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,38},{242,322}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{242,322}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,38},{242,322}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{242,322}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,38},{242,322}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,322}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,38},{242,322}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{240,320}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,39},{240,320}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,228},{222,228}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,98},{222,228}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,326},{194,218}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,97},{194,218}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,326},{194,218}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,97},{194,218}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,326},{194,218}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,97},{194,218}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,326},{194,218}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,97},{194,218}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,326},{194,218}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,97},{194,218}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,326},{194,218}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,97},{194,218}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,326},{194,218}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,97},{194,218}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,326},{194,218}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,97},{194,218}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,326},{194,218}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,97},{194,218}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_shop_1.png</string>
            <key>size</key>
            <string>{1962,546}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b5ccb1cb107f75470f2cea31c1d74eb:bbc31c446591abe01d1a151bd17778d1:ea740b1e324d48378020c40302911e33$</string>
            <key>textureFileName</key>
            <string>eff_shop_1.png</string>
        </dict>
    </dict>
</plist>
