<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_label_upgrade_success_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,40},{90,20}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,30},{90,20}}</string>
                <key>sourceSize</key>
                <string>{198,60}</string>
            </dict>
            <key>eff_label_upgrade_success_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,40},{114,22}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,29},{114,22}}</string>
                <key>sourceSize</key>
                <string>{198,60}</string>
            </dict>
            <key>eff_label_upgrade_success_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{140,30}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,25},{140,30}}</string>
                <key>sourceSize</key>
                <string>{198,60}</string>
            </dict>
            <key>eff_label_upgrade_success_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,40}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{166,40}}</string>
                <key>sourceSize</key>
                <string>{198,60}</string>
            </dict>
            <key>eff_label_upgrade_success_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{192,36}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{192,36}}</string>
                <key>sourceSize</key>
                <string>{198,60}</string>
            </dict>
            <key>eff_label_upgrade_success_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{160,32}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{160,32}}</string>
                <key>sourceSize</key>
                <string>{198,60}</string>
            </dict>
            <key>eff_label_upgrade_success_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,34},{110,28}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,27},{110,28}}</string>
                <key>sourceSize</key>
                <string>{198,60}</string>
            </dict>
            <key>eff_label_upgrade_success_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,32},{108,28}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,22},{108,28}}</string>
                <key>sourceSize</key>
                <string>{198,60}</string>
            </dict>
            <key>eff_label_upgrade_success_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{108,28}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,17},{108,28}}</string>
                <key>sourceSize</key>
                <string>{198,60}</string>
            </dict>
            <key>eff_label_upgrade_success_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{108,28}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,13},{108,28}}</string>
                <key>sourceSize</key>
                <string>{198,60}</string>
            </dict>
            <key>eff_label_upgrade_success_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,32},{108,28}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,8},{108,28}}</string>
                <key>sourceSize</key>
                <string>{198,60}</string>
            </dict>
            <key>eff_label_upgrade_success_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{108,28}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,4},{108,28}}</string>
                <key>sourceSize</key>
                <string>{198,60}</string>
            </dict>
            <key>eff_label_upgrade_success_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,34},{108,28}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{108,28}}</string>
                <key>sourceSize</key>
                <string>{198,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_label_upgrade_success.png</string>
            <key>size</key>
            <string>{998,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17b790f81262208ac5f49c31e8be7fe1:d5a53c46abf6eb77e405a0af9a93c5e7:24b07945f5f33926e3ee5623f7b05e94$</string>
            <key>textureFileName</key>
            <string>eff_label_upgrade_success.png</string>
        </dict>
    </dict>
</plist>
