<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_campaign_new_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{518,16}}</string>
                <key>offset</key>
                <string>{225,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,36},{518,16}}</string>
                <key>sourceSize</key>
                <string>{990,96}</string>
            </dict>
            <key>eff_campaign_new_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,2},{506,16}}</string>
                <key>offset</key>
                <string>{182,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,36},{506,16}}</string>
                <key>sourceSize</key>
                <string>{990,96}</string>
            </dict>
            <key>eff_campaign_new_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{486,16}}</string>
                <key>offset</key>
                <string>{140,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,36},{486,16}}</string>
                <key>sourceSize</key>
                <string>{990,96}</string>
            </dict>
            <key>eff_campaign_new_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{500,78}}</string>
                <key>offset</key>
                <string>{81,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,8},{500,78}}</string>
                <key>sourceSize</key>
                <string>{990,96}</string>
            </dict>
            <key>eff_campaign_new_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{518,78}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,8},{518,78}}</string>
                <key>sourceSize</key>
                <string>{990,96}</string>
            </dict>
            <key>eff_campaign_new_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{538,78}}</string>
                <key>offset</key>
                <string>{-43,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,8},{538,78}}</string>
                <key>sourceSize</key>
                <string>{990,96}</string>
            </dict>
            <key>eff_campaign_new_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,82},{476,80}}</string>
                <key>offset</key>
                <string>{-147,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,7},{476,80}}</string>
                <key>sourceSize</key>
                <string>{990,96}</string>
            </dict>
            <key>eff_campaign_new_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,20},{412,80}}</string>
                <key>offset</key>
                <string>{-250,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,7},{412,80}}</string>
                <key>sourceSize</key>
                <string>{990,96}</string>
            </dict>
            <key>eff_campaign_new_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,102},{190,80}}</string>
                <key>offset</key>
                <string>{-358,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,7},{190,80}}</string>
                <key>sourceSize</key>
                <string>{990,96}</string>
            </dict>
            <key>eff_campaign_new_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,2},{188,80}}</string>
                <key>offset</key>
                <string>{-354,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,7},{188,80}}</string>
                <key>sourceSize</key>
                <string>{990,96}</string>
            </dict>
            <key>eff_campaign_new_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,2},{188,80}}</string>
                <key>offset</key>
                <string>{-352,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,7},{188,80}}</string>
                <key>sourceSize</key>
                <string>{990,96}</string>
            </dict>
            <key>eff_campaign_new_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,20},{188,80}}</string>
                <key>offset</key>
                <string>{-349,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,7},{188,80}}</string>
                <key>sourceSize</key>
                <string>{990,96}</string>
            </dict>
            <key>eff_campaign_new_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,20},{188,80}}</string>
                <key>offset</key>
                <string>{-349,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,7},{188,80}}</string>
                <key>sourceSize</key>
                <string>{990,96}</string>
            </dict>
            <key>eff_campaign_new_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,102},{192,84}}</string>
                <key>offset</key>
                <string>{-348,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,6},{192,84}}</string>
                <key>sourceSize</key>
                <string>{990,96}</string>
            </dict>
            <key>eff_campaign_new_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,100},{198,90}}</string>
                <key>offset</key>
                <string>{-347,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,3},{198,90}}</string>
                <key>sourceSize</key>
                <string>{990,96}</string>
            </dict>
            <key>eff_campaign_new_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,2},{202,96}}</string>
                <key>offset</key>
                <string>{-346,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{202,96}}</string>
                <key>sourceSize</key>
                <string>{990,96}</string>
            </dict>
            <key>eff_campaign_new_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,20},{188,80}}</string>
                <key>offset</key>
                <string>{-349,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,7},{188,80}}</string>
                <key>sourceSize</key>
                <string>{990,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_campaign_new.png</string>
            <key>size</key>
            <string>{1990,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:358d247fd455747d8cb7a172d02c62dd:ef18cc32bb4a30a2976bcb69be442b31:65435f9becff95d5f62342170b264055$</string>
            <key>textureFileName</key>
            <string>eff_campaign_new.png</string>
        </dict>
    </dict>
</plist>
