<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_fragment_fusion_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,374},{94,116}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,48},{94,116}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>eff_fragment_fusion_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,356},{150,146}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,39},{150,146}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>eff_fragment_fusion_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,212},{168,220}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{168,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>eff_fragment_fusion_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{194,220}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{194,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>eff_fragment_fusion_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,224},{182,220}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{182,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>eff_fragment_fusion_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,220}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>eff_fragment_fusion_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{188,208}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{188,208}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>eff_fragment_fusion_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{176,192}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{176,192}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>eff_fragment_fusion_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,196},{164,176}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{164,176}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>eff_fragment_fusion_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,180},{150,174}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{150,174}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>eff_fragment_fusion_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,366},{148,138}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,36},{148,138}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>eff_fragment_fusion_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,374},{114,134}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,40},{114,134}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>eff_fragment_fusion_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,374},{114,134}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,40},{114,134}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>eff_fragment_fusion_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,374},{114,134}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,40},{114,134}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>eff_fragment_fusion_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{150,180}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,37},{150,180}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>eff_fragment_fusion_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,184},{150,180}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,38},{150,180}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>eff_fragment_fusion_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{150,180}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,23},{150,180}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>eff_fragment_fusion_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,184},{150,178}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,10},{150,178}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>eff_fragment_fusion_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{150,176}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{150,176}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>eff_fragment_fusion_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{148,176}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{148,176}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_fragment_fusion.png</string>
            <key>size</key>
            <string>{1178,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35d545e354cc68ca9bde15ed2b855d2e:57f131b5ffc932019550d82d4f57f24e:df903777e215571acddc5d836382d611$</string>
            <key>textureFileName</key>
            <string>eff_fragment_fusion.png</string>
        </dict>
    </dict>
</plist>
