<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_guild_boss_summon_2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{178,100}}</string>
                <key>offset</key>
                <string>{-61,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>eff_guild_boss_summon_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{234,100}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{234,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>eff_guild_boss_summon_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>eff_guild_boss_summon_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{180,76}}</string>
                <key>offset</key>
                <string>{60,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,11},{180,76}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_guild_boss_summon_2.png</string>
            <key>size</key>
            <string>{902,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76e88396fefce878ef20cc3d12e95fb4:ad2c9d3b4f30d4287d8c0e9bc78aea11:5d82df765448e9f5f828fd176d5d80fa$</string>
            <key>textureFileName</key>
            <string>eff_guild_boss_summon_2.png</string>
        </dict>
    </dict>
</plist>
