<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_soul_lucky_card_border_1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1470},{152,180}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,40},{152,180}}</string>
                <key>sourceSize</key>
                <string>{160,230}</string>
            </dict>
            <key>eff_soul_lucky_card_border_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{152,182}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,39},{152,182}}</string>
                <key>sourceSize</key>
                <string>{160,230}</string>
            </dict>
            <key>eff_soul_lucky_card_border_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{160,194}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{160,194}}</string>
                <key>sourceSize</key>
                <string>{160,230}</string>
            </dict>
            <key>eff_soul_lucky_card_border_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{160,204}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{160,204}}</string>
                <key>sourceSize</key>
                <string>{160,230}</string>
            </dict>
            <key>eff_soul_lucky_card_border_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{160,212}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{160,212}}</string>
                <key>sourceSize</key>
                <string>{160,230}</string>
            </dict>
            <key>eff_soul_lucky_card_border_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,222}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{160,222}}</string>
                <key>sourceSize</key>
                <string>{160,230}</string>
            </dict>
            <key>eff_soul_lucky_card_border_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{160,220}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,230}</string>
            </dict>
            <key>eff_soul_lucky_card_border_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{160,220}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_soul_lucky_card_border_1.png</string>
            <key>size</key>
            <string>{164,1652}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:085862385f91110b4922e4e79fe4360a:f88792df81a62d25e5cd0077c51ef8f8:fd6038a43be66fb00f3a6fc3ea4c9450$</string>
            <key>textureFileName</key>
            <string>eff_soul_lucky_card_border_1.png</string>
        </dict>
    </dict>
</plist>
