<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_evolve_top_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,300},{72,72}}</string>
                <key>offset</key>
                <string>{0,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,11},{72,72}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_top_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,380},{122,162}}</string>
                <key>offset</key>
                <string>{-22,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,5},{122,162}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_top_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,272},{204,226}}</string>
                <key>offset</key>
                <string>{-20,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{204,226}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_top_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{268,266}}</string>
                <key>offset</key>
                <string>{-16,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,266}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_top_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,298}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,298}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_top_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,300},{78,156}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,28},{78,156}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_top_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,218},{92,168}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,27},{92,168}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_top_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,388},{106,180}}</string>
                <key>offset</key>
                <string>{3,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,26},{106,180}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_top_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,302},{118,192}}</string>
                <key>offset</key>
                <string>{2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,25},{118,192}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_top_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{132,202}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,26},{132,202}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_top_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{142,214}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,23},{142,214}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_top_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,146},{152,212}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,33},{152,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_top_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{158,214}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,41},{158,214}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_top_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,302},{156,194}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,30},{156,194}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_top_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,146},{66,56}}</string>
                <key>offset</key>
                <string>{34,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,75},{66,56}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_evolve_top.png</string>
            <key>size</key>
            <string>{998,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31df7530d2c89eaf721e9abd1663ed62:659ebe70851c767cbcf8675f8f676daa:7061558f3d6635a05b8d602fb9348be1$</string>
            <key>textureFileName</key>
            <string>eff_evolve_top.png</string>
        </dict>
    </dict>
</plist>
