<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_prog_exp_disappear_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{21,19}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{21,19}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>eff_prog_exp_disappear_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{21,19}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{21,19}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>eff_prog_exp_disappear_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{23,21}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>eff_prog_exp_disappear_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{23,19}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,19}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>eff_prog_exp_disappear_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{21,17}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{21,17}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>eff_prog_exp_disappear_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{21,17}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{21,17}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_prog_exp_disappear.png</string>
            <key>size</key>
            <string>{27,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff10212642c2454e8d467704a1f126b1:1dcb7ada51cf337114d490fea6abcad5:e5d7aeb6d2e19a3b7054f507ae6abb2c$</string>
            <key>textureFileName</key>
            <string>eff_prog_exp_disappear.png</string>
        </dict>
    </dict>
</plist>
