<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_vip_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{60,30}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>eff_vip_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{60,30}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>eff_vip_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{60,30}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>eff_vip_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{60,30}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>eff_vip_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{60,30}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>eff_vip_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{60,30}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_vip.png</string>
            <key>size</key>
            <string>{64,195}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6d7b73f85b88e8fb8689f640f11feec:e245a449f74018b398be3e5cf443a697:88d8b8c87fb851efe541463ed0486100$</string>
            <key>textureFileName</key>
            <string>eff_vip.png</string>
        </dict>
    </dict>
</plist>
