<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_guild_boss_summon_3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{136,116}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,64},{136,116}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_guild_boss_summon_3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{244,242}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,242}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_guild_boss_summon_3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,250}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{246,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>eff_guild_boss_summon_3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{226,228}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{226,228}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_guild_boss_summon_3.png</string>
            <key>size</key>
            <string>{250,844}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b54ac747e4b363cba587c8ff5ba2df10:6af202cc6d1f0b10b47142e86d7cfb72:eeb9b3316cf3eef652642ec66893fe1d$</string>
            <key>textureFileName</key>
            <string>eff_guild_boss_summon_3.png</string>
        </dict>
    </dict>
</plist>
