<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_gem_fuse_star_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,66},{50,30}}</string>
                <key>offset</key>
                <string>{-3,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,120},{50,30}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>eff_gem_fuse_star_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,34},{50,30}}</string>
                <key>offset</key>
                <string>{-3,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,120},{50,30}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>eff_gem_fuse_star_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,84},{50,30}}</string>
                <key>offset</key>
                <string>{-3,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,121},{50,30}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>eff_gem_fuse_star_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{50,30}}</string>
                <key>offset</key>
                <string>{-3,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,121},{50,30}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>eff_gem_fuse_star_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,50},{50,32}}</string>
                <key>offset</key>
                <string>{-2,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,120},{50,32}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>eff_gem_fuse_star_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,62},{52,36}}</string>
                <key>offset</key>
                <string>{-1,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,116},{52,36}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>eff_gem_fuse_star_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{54,46}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,106},{54,46}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>eff_gem_fuse_star_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,50},{58,62}}</string>
                <key>offset</key>
                <string>{1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,90},{58,62}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>eff_gem_fuse_star_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,62},{62,80}}</string>
                <key>offset</key>
                <string>{3,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,72},{62,80}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>eff_gem_fuse_star_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,60},{64,88}}</string>
                <key>offset</key>
                <string>{4,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,64},{64,88}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>eff_gem_fuse_star_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,60},{64,96}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,56},{64,96}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>eff_gem_fuse_star_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,60},{64,104}}</string>
                <key>offset</key>
                <string>{5,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,48},{64,104}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>eff_gem_fuse_star_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,62},{62,114}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,37},{62,114}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>eff_gem_fuse_star_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,116}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,34},{62,116}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>eff_gem_fuse_star_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,64},{60,116}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,33},{60,116}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>eff_gem_fuse_star_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{60,118}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,31},{60,118}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>eff_gem_fuse_star_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{58,116}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,29},{58,116}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>eff_gem_fuse_star_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{58,118}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,28},{58,118}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>eff_gem_fuse_star_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{56,118}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,28},{56,118}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>eff_gem_fuse_star_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{56,118}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,27},{56,118}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>eff_gem_fuse_star_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{46,116}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,28},{46,116}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_gem_fuse_star.png</string>
            <key>size</key>
            <string>{894,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4a95a233790c08c416cc35f0c16a599:f66d4192872847f23a79ab0a544dbd65:337b1e14a5edf68b899b3d6220e08bdd$</string>
            <key>textureFileName</key>
            <string>eff_gem_fuse_star.png</string>
        </dict>
    </dict>
</plist>
