<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_light_pillar_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,151},{58,69}}</string>
                <key>offset</key>
                <string>{-2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,86},{58,69}}</string>
                <key>sourceSize</key>
                <string>{146,175}</string>
            </dict>
            <key>eff_light_pillar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,151},{118,99}}</string>
                <key>offset</key>
                <string>{-2,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,75},{118,99}}</string>
                <key>sourceSize</key>
                <string>{146,175}</string>
            </dict>
            <key>eff_light_pillar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,134},{130,97}}</string>
                <key>offset</key>
                <string>{-2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,65},{130,97}}</string>
                <key>sourceSize</key>
                <string>{146,175}</string>
            </dict>
            <key>eff_light_pillar_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{130,115}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,47},{130,115}}</string>
                <key>sourceSize</key>
                <string>{146,175}</string>
            </dict>
            <key>eff_light_pillar_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,151}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{130,151}}</string>
                <key>sourceSize</key>
                <string>{146,175}</string>
            </dict>
            <key>eff_light_pillar_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{130,147}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{130,147}}</string>
                <key>sourceSize</key>
                <string>{146,175}</string>
            </dict>
            <key>eff_light_pillar_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{128,147}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{128,147}}</string>
                <key>sourceSize</key>
                <string>{146,175}</string>
            </dict>
            <key>eff_light_pillar_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{42,85}}</string>
                <key>offset</key>
                <string>{9,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,9},{42,85}}</string>
                <key>sourceSize</key>
                <string>{146,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_light_pillar.png</string>
            <key>size</key>
            <string>{478,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d3b1ca7fb3c9a429393fe4220f0612b:87f6bc5c6ab80e450cdd41a539032436:3205a9040e44ca56bfe40045624379c9$</string>
            <key>textureFileName</key>
            <string>eff_light_pillar.png</string>
        </dict>
    </dict>
</plist>
