<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_guild_boss_active_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1700},{82,82}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,132},{82,82}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>eff_guild_boss_active_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1458},{70,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,115},{70,68}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_guild_boss_active_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1530},{62,62}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,117},{62,62}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_guild_boss_active_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1700},{176,168}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,70},{176,168}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_guild_boss_active_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1458},{228,240}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{228,240}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_guild_boss_active_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1190},{268,266}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{268,266}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_guild_boss_active_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{290,286}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{290,286}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_guild_boss_active_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{296,298}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{296,298}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_guild_boss_active_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{298,296}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{298,296}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_guild_boss_active_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{298,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{298,298}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_guild_boss_active_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1784},{60,66}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,115},{60,66}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_guild_boss_active_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1700},{82,82}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,132},{82,82}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_guild_boss_active.png</string>
            <key>size</key>
            <string>{302,1870}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c569d36c3c86fcdc83c7fe9556c7af8:7183f0744f1877519d22abbbbaa754ea:d388ec997d2bab7af46e093e619dffc2$</string>
            <key>textureFileName</key>
            <string>eff_guild_boss_active.png</string>
        </dict>
    </dict>
</plist>
