<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_battle_go_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,62},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,99.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>eff_battle_go_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{56,26}}</string>
                <key>offset</key>
                <string>{0,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,141},{56,26}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>eff_battle_go_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{56,46}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,121},{56,46}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>eff_battle_go_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{56,66}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,101},{56,66}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>eff_battle_go_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{58,84}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,83},{58,84}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>eff_battle_go_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{64,104}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,63},{64,104}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>eff_battle_go_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{64,116}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,51},{64,116}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>eff_battle_go_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{64,116}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,51},{64,116}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>eff_battle_go_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{64,116}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,51},{64,116}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>eff_battle_go_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{64,116}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,51},{64,116}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>eff_battle_go_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{64,116}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,51},{64,116}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>eff_battle_go_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{64,116}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,51},{64,116}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>eff_battle_go_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{64,116}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,51},{64,116}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>eff_battle_go_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,116}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,51},{64,116}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>eff_battle_go_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{64,104}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,51},{64,104}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>eff_battle_go_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{64,72}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,51},{64,72}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>eff_battle_go_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{62,46}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,52},{62,46}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>eff_battle_go_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,62},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,99.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>eff_battle_go_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,62},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,99.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>eff_battle_go_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,62},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,99.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_battle_go.png</string>
            <key>size</key>
            <string>{920,68}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09c4cbafa3401404c89809cae0de764e:f95446be5a96efb52a5d73d37fb7bd5d:da889c54aa5d480c6b975808d9b2e59b$</string>
            <key>textureFileName</key>
            <string>eff_battle_go.png</string>
        </dict>
    </dict>
</plist>
