<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_gem_fuse_border_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{51,51}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>eff_gem_fuse_border_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{51,51}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>eff_gem_fuse_border_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{51,51}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>eff_gem_fuse_border_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{51,51}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>eff_gem_fuse_border_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{51,51}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>eff_gem_fuse_border_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{51,51}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>eff_gem_fuse_border_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{51,51}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>eff_gem_fuse_border_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{51,51}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>eff_gem_fuse_border_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{51,51}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>eff_gem_fuse_border_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{51,51}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>eff_gem_fuse_border_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{51,51}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>eff_gem_fuse_border_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{51,51}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>eff_gem_fuse_border_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{51,51}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>eff_gem_fuse_border_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{51,51}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>eff_gem_fuse_border_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{51,51}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>eff_gem_fuse_border_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{51,51}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>eff_gem_fuse_border_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{51,51}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>eff_gem_fuse_border_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{51,51}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>eff_gem_fuse_border_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{51,51}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>eff_gem_fuse_border_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{51,51}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_gem_fuse_border.png</string>
            <key>size</key>
            <string>{956,55}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42f104045e43b9bcff03a0a4c950012d:17dbf1c37be3807baa73c583c7ce276a:5d21176e1ef5ff8b5e1a9b2778c4133b$</string>
            <key>textureFileName</key>
            <string>eff_gem_fuse_border.png</string>
        </dict>
    </dict>
</plist>
