<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_gem_mounting_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,60},{1,1}}</string>
                <key>offset</key>
                <string>{-29.5,29.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_gem_mounting_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,2},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{54,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_gem_mounting_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{54,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_gem_mounting_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,2},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{54,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_gem_mounting_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_gem_mounting_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_gem_mounting_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_gem_mounting_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_gem_mounting_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_gem_mounting_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_gem_mounting_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_gem_mounting_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_gem_mounting_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_gem_mounting_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_gem_mounting_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_gem_mounting_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_gem_mounting_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{56,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_gem_mounting_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{56,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_gem_mounting_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_gem_mounting_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_gem_mounting_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{56,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_gem_mounting_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{58,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_gem_mounting_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_gem_mounting_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_gem_mounting_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_gem_mounting_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{56,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_gem_mounting.png</string>
            <key>size</key>
            <string>{1450,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a457763e21066ab43d72da50ceebf202:eaf69e58560f6a2bc876f6c618ec0e4b:6d7cab7c5f6e798f4582201614d52ee1$</string>
            <key>textureFileName</key>
            <string>eff_gem_mounting.png</string>
        </dict>
    </dict>
</plist>
