<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_card_enhance_left_center_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1330},{72,74}}</string>
                <key>offset</key>
                <string>{-109,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,96},{72,74}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>eff_card_enhance_left_center_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{172,116}}</string>
                <key>offset</key>
                <string>{-59,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,79},{172,116}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>eff_card_enhance_left_center_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{224,184}}</string>
                <key>offset</key>
                <string>{-24,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{224,184}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>eff_card_enhance_left_center_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,216}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,216}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>eff_card_enhance_left_center_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1330},{168,110}}</string>
                <key>offset</key>
                <string>{-18,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,37},{168,110}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>eff_card_enhance_left_center_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1092},{184,118}}</string>
                <key>offset</key>
                <string>{-13,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,29},{184,118}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>eff_card_enhance_left_center_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{198,124}}</string>
                <key>offset</key>
                <string>{-8,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,22},{198,124}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>eff_card_enhance_left_center_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{214,142}}</string>
                <key>offset</key>
                <string>{6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{214,142}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>eff_card_enhance_left_center_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{208,158}}</string>
                <key>offset</key>
                <string>{30,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,1},{208,158}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>eff_card_enhance_left_center_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{184,144}}</string>
                <key>offset</key>
                <string>{11,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,18},{184,144}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>eff_card_enhance_left_center_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,434},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,119.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_card_enhance_left_center.png</string>
            <key>size</key>
            <string>{220,1500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6801475e682b192d28c22c70efc9d6e8:7acc8128f627a551891481e42ca728dc:abbd8b210295697ee95b4517e351f268$</string>
            <key>textureFileName</key>
            <string>eff_card_enhance_left_center.png</string>
        </dict>
    </dict>
</plist>
