<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_loading_prog_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,50},{234,10}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,22},{234,10}}</string>
                <key>sourceSize</key>
                <string>{296,54}</string>
            </dict>
            <key>eff_loading_prog_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,38},{234,10}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,22},{234,10}}</string>
                <key>sourceSize</key>
                <string>{296,54}</string>
            </dict>
            <key>eff_loading_prog_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,50},{238,10}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,22},{238,10}}</string>
                <key>sourceSize</key>
                <string>{296,54}</string>
            </dict>
            <key>eff_loading_prog_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,14},{240,10}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,22},{240,10}}</string>
                <key>sourceSize</key>
                <string>{296,54}</string>
            </dict>
            <key>eff_loading_prog_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,38},{238,10}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,22},{238,10}}</string>
                <key>sourceSize</key>
                <string>{296,54}</string>
            </dict>
            <key>eff_loading_prog_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,14},{238,10}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,22},{238,10}}</string>
                <key>sourceSize</key>
                <string>{296,54}</string>
            </dict>
            <key>eff_loading_prog_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{238,10}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,22},{238,10}}</string>
                <key>sourceSize</key>
                <string>{296,54}</string>
            </dict>
            <key>eff_loading_prog_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,38},{236,10}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{236,10}}</string>
                <key>sourceSize</key>
                <string>{296,54}</string>
            </dict>
            <key>eff_loading_prog_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,26},{234,10}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,22},{234,10}}</string>
                <key>sourceSize</key>
                <string>{296,54}</string>
            </dict>
            <key>eff_loading_prog_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,14},{234,10}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,22},{234,10}}</string>
                <key>sourceSize</key>
                <string>{296,54}</string>
            </dict>
            <key>eff_loading_prog_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,50},{234,10}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,22},{234,10}}</string>
                <key>sourceSize</key>
                <string>{296,54}</string>
            </dict>
            <key>eff_loading_prog_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,14},{234,10}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,22},{234,10}}</string>
                <key>sourceSize</key>
                <string>{296,54}</string>
            </dict>
            <key>eff_loading_prog_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,26},{238,10}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,22},{238,10}}</string>
                <key>sourceSize</key>
                <string>{296,54}</string>
            </dict>
            <key>eff_loading_prog_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,10}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,22},{240,10}}</string>
                <key>sourceSize</key>
                <string>{296,54}</string>
            </dict>
            <key>eff_loading_prog_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{238,10}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,22},{238,10}}</string>
                <key>sourceSize</key>
                <string>{296,54}</string>
            </dict>
            <key>eff_loading_prog_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{238,10}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,22},{238,10}}</string>
                <key>sourceSize</key>
                <string>{296,54}</string>
            </dict>
            <key>eff_loading_prog_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{238,10}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,22},{238,10}}</string>
                <key>sourceSize</key>
                <string>{296,54}</string>
            </dict>
            <key>eff_loading_prog_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,26},{236,10}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{236,10}}</string>
                <key>sourceSize</key>
                <string>{296,54}</string>
            </dict>
            <key>eff_loading_prog_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{234,10}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,22},{234,10}}</string>
                <key>sourceSize</key>
                <string>{296,54}</string>
            </dict>
            <key>eff_loading_prog_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{234,10}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,22},{234,10}}</string>
                <key>sourceSize</key>
                <string>{296,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_loading_prog.png</string>
            <key>size</key>
            <string>{956,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aadc8cd13a5a891ddda20c83c99bf092:ef69ae614fb702a1f1fc540ab8978ade:da89f86fc12caed9ffa2a8d03ff5a75a$</string>
            <key>textureFileName</key>
            <string>eff_loading_prog.png</string>
        </dict>
    </dict>
</plist>
