<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_soul_lucky_card_border_2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,2},{160,220}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,230}</string>
            </dict>
            <key>eff_soul_lucky_card_border_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,2},{160,220}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,230}</string>
            </dict>
            <key>eff_soul_lucky_card_border_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,2},{160,220}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,230}</string>
            </dict>
            <key>eff_soul_lucky_card_border_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{160,220}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,230}</string>
            </dict>
            <key>eff_soul_lucky_card_border_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{160,220}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,230}</string>
            </dict>
            <key>eff_soul_lucky_card_border_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{160,220}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,230}</string>
            </dict>
            <key>eff_soul_lucky_card_border_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{160,220}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,230}</string>
            </dict>
            <key>eff_soul_lucky_card_border_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,220}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,230}</string>
            </dict>
            <key>eff_soul_lucky_card_border_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,220}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,230}</string>
            </dict>
            <key>eff_soul_lucky_card_border_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,220}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,220}}</string>
                <key>sourceSize</key>
                <string>{160,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_soul_lucky_card_border_2.png</string>
            <key>size</key>
            <string>{1622,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33d0e148fdd6b996a178c407bc763f1f:9a06d123703138cf1ef11cb897f9e505:968f7816cebe9fbb64bdb0e9964f4416$</string>
            <key>textureFileName</key>
            <string>eff_soul_lucky_card_border_2.png</string>
        </dict>
    </dict>
</plist>
