<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_mount_bkth_card_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,210}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{190,210}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>eff_mount_bkth_card_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{188,210}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{188,210}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>eff_mount_bkth_card_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{186,210}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{186,210}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>eff_mount_bkth_card_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{184,210}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{184,210}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>eff_mount_bkth_card_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{180,210}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>eff_mount_bkth_card_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{176,208}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{176,208}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_mount_bkth_card.png</string>
            <key>size</key>
            <string>{1118,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eeaea2746672b5bed41b4f1a8d510ac4:fce12f305c4ab1f919d225e1020a8637:117c110a133cb7a2dc8e6b17057d7dcd$</string>
            <key>textureFileName</key>
            <string>eff_mount_bkth_card.png</string>
        </dict>
    </dict>
</plist>
