<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_evolve_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1916},{72,74}}</string>
                <key>offset</key>
                <string>{109,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,112},{72,74}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1840},{154,74}}</string>
                <key>offset</key>
                <string>{73,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,112},{154,74}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1526},{232,166}}</string>
                <key>offset</key>
                <string>{31,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,67},{232,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,214}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,43},{258,214}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1760},{156,78}}</string>
                <key>offset</key>
                <string>{49,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,113},{156,78}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_right_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1432},{168,92}}</string>
                <key>offset</key>
                <string>{44,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,106},{168,92}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_right_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1322},{180,108}}</string>
                <key>offset</key>
                <string>{40,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,98},{180,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_right_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1200},{192,120}}</string>
                <key>offset</key>
                <string>{34,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,92},{192,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_right_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{212,144}}</string>
                <key>offset</key>
                <string>{25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,80},{212,144}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_right_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{214,154}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,74},{214,154}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_right_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{214,158}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,77},{214,158}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_right_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1042},{194,156}}</string>
                <key>offset</key>
                <string>{28,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,69},{194,156}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_right_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{214,158}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,77},{214,158}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_right_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{194,156}}</string>
                <key>offset</key>
                <string>{28,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,69},{194,156}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>eff_evolve_right_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1760},{56,66}}</string>
                <key>offset</key>
                <string>{53,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,151},{56,66}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_evolve_right.png</string>
            <key>size</key>
            <string>{218,1990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df9bba1b8d45831c5cc2c71b5265b4e9:db4b67db4bf76005319614592bd78310:4d374730d4ac5d8354f929957e56f47d$</string>
            <key>textureFileName</key>
            <string>eff_evolve_right.png</string>
        </dict>
    </dict>
</plist>
