<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_up_green_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{42,6}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,64},{42,6}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>eff_up_green_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{40,36}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{40,36}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>eff_up_green_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{40,48}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>eff_up_green_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{38,60}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{38,60}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>eff_up_green_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{38,58}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{38,58}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>eff_up_green_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{38,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{38,52}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>eff_up_green_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{38,42}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{38,42}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>eff_up_green_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{38,34}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,36},{38,34}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>eff_up_green_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,468},{38,30}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,42},{38,30}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>eff_up_green_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{38,36}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{38,36}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>eff_up_green_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{38,40}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,25},{38,40}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>eff_up_green_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{38,42}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{38,42}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>eff_up_green_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{38,42}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{38,42}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_up_green.png</string>
            <key>size</key>
            <string>{44,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3c0c4d10d6418464773173fea4ec956:f4b58ca6df7dacc2550d680742577e56:6329b550a4d6e215c0a064b948804ee8$</string>
            <key>textureFileName</key>
            <string>eff_up_green.png</string>
        </dict>
    </dict>
</plist>
