<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_enhance_upgrading_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{102,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{102,88}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_enhance_upgrading_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{96,106}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{96,106}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_enhance_upgrading_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{98,120}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{98,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_enhance_upgrading_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{98,92}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,45},{98,92}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_enhance_upgrading_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,74}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,36},{104,74}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_enhance_upgrading.png</string>
            <key>size</key>
            <string>{108,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f0901dbbdb8fafc674a9de75bde9ca4:c8bd46c667f65aafc9a110168627915b:891adbc048c97f58c2642e68b03faa87$</string>
            <key>textureFileName</key>
            <string>eff_enhance_upgrading.png</string>
        </dict>
    </dict>
</plist>
