<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_lucky_card_border_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,2},{144,188}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,5},{144,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_lucky_card_border_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{152,190}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{152,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_lucky_card_border_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{152,190}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{152,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_lucky_card_border_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{154,190}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{154,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_lucky_card_border_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{154,190}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{154,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_lucky_card_border_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,190}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{154,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_lucky_card_border_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,2},{156,188}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{156,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_lucky_card_border_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,2},{156,188}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{156,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_lucky_card_border_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,2},{156,188}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{156,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_lucky_card_border_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,2},{156,188}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{156,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_lucky_card_border_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{158,188}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{158,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_lucky_card_border_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{158,188}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{158,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_lucky_card_border.png</string>
            <key>size</key>
            <string>{1876,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:342234f83052c987652d3b4e8549d1e2:3288db2a2b8c88eca31ad9aea7637489:21ef48c353362f6faf46fe11e370a1e0$</string>
            <key>textureFileName</key>
            <string>eff_lucky_card_border.png</string>
        </dict>
    </dict>
</plist>
