<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_fury_max_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,770},{17,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{17,136}}</string>
                <key>sourceSize</key>
                <string>{75,200}</string>
            </dict>
            <key>eff_fury_max_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,767},{17,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{17,136}}</string>
                <key>sourceSize</key>
                <string>{75,200}</string>
            </dict>
            <key>eff_fury_max_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,767},{17,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{17,136}}</string>
                <key>sourceSize</key>
                <string>{75,200}</string>
            </dict>
            <key>eff_fury_max_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,767},{17,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{17,136}}</string>
                <key>sourceSize</key>
                <string>{75,200}</string>
            </dict>
            <key>eff_fury_max_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,764},{23,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,32},{23,136}}</string>
                <key>sourceSize</key>
                <string>{75,200}</string>
            </dict>
            <key>eff_fury_max_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,622},{27,140}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{27,140}}</string>
                <key>sourceSize</key>
                <string>{75,200}</string>
            </dict>
            <key>eff_fury_max_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,622},{33,146}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{33,146}}</string>
                <key>sourceSize</key>
                <string>{75,200}</string>
            </dict>
            <key>eff_fury_max_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,316},{39,150}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{39,150}}</string>
                <key>sourceSize</key>
                <string>{75,200}</string>
            </dict>
            <key>eff_fury_max_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,160},{43,154}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{43,154}}</string>
                <key>sourceSize</key>
                <string>{75,200}</string>
            </dict>
            <key>eff_fury_max_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{43,156}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{43,156}}</string>
                <key>sourceSize</key>
                <string>{75,200}</string>
            </dict>
            <key>eff_fury_max_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,468},{45,152}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{45,152}}</string>
                <key>sourceSize</key>
                <string>{75,200}</string>
            </dict>
            <key>eff_fury_max_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{57,162}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{57,162}}</string>
                <key>sourceSize</key>
                <string>{75,200}</string>
            </dict>
            <key>eff_fury_max_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{67,174}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{67,174}}</string>
                <key>sourceSize</key>
                <string>{75,200}</string>
            </dict>
            <key>eff_fury_max_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{75,184}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{75,184}}</string>
                <key>sourceSize</key>
                <string>{75,200}</string>
            </dict>
            <key>eff_fury_max_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,184}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{75,184}}</string>
                <key>sourceSize</key>
                <string>{75,200}</string>
            </dict>
            <key>eff_fury_max_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{51,52}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,59},{51,52}}</string>
                <key>sourceSize</key>
                <string>{75,200}</string>
            </dict>
            <key>eff_fury_max_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,316},{1,1}}</string>
                <key>offset</key>
                <string>{-37,99.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{75,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_fury_max.png</string>
            <key>size</key>
            <string>{125,908}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9145fd7e3db9f2926e46ed1933880641:aa240702bbca75cd4a80f8ca7b83c194:6b8379df739dba7615d47f5f4e344d2a$</string>
            <key>textureFileName</key>
            <string>eff_fury_max.png</string>
        </dict>
    </dict>
</plist>
