<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_breakdown_flying_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1122},{36,38}}</string>
                <key>offset</key>
                <string>{-85,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,89},{36,38}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>eff_breakdown_flying_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1476},{58,62}}</string>
                <key>offset</key>
                <string>{-86,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,78},{58,62}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>eff_breakdown_flying_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1702},{88,96}}</string>
                <key>offset</key>
                <string>{-81,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,51},{88,96}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>eff_breakdown_flying_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1830},{96,108}}</string>
                <key>offset</key>
                <string>{-77,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,39},{96,108}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>eff_breakdown_flying_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1928},{98,114}}</string>
                <key>offset</key>
                <string>{-76,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{98,114}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>eff_breakdown_flying_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1830},{108,120}}</string>
                <key>offset</key>
                <string>{-71,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{108,120}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>eff_breakdown_flying_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1702},{128,126}}</string>
                <key>offset</key>
                <string>{-61,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{128,126}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>eff_breakdown_flying_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1346},{164,128}}</string>
                <key>offset</key>
                <string>{-43,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{164,128}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>eff_breakdown_flying_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{200,142}}</string>
                <key>offset</key>
                <string>{-25,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{200,142}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>eff_breakdown_flying_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{212,144}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,27},{212,144}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>eff_breakdown_flying_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1476},{224,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,23},{224,152}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>eff_breakdown_flying_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{216,170}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{216,170}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>eff_breakdown_flying_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1122},{222,178}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,7},{222,178}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>eff_breakdown_flying_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,176}}</string>
                <key>offset</key>
                <string>{13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{218,176}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>eff_breakdown_flying_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{210,162}}</string>
                <key>offset</key>
                <string>{20,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{210,162}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>eff_breakdown_flying_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{196,162}}</string>
                <key>offset</key>
                <string>{22,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{196,162}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>eff_breakdown_flying_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{182,150}}</string>
                <key>offset</key>
                <string>{31,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,10},{182,150}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_breakdown_flying.png</string>
            <key>size</key>
            <string>{222,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31b162df70fdc493240d771722081eb5:d54039df2f31ed5bc0172291d28bcacf:ca3d18140aecc75d92fa6a2ade22de32$</string>
            <key>textureFileName</key>
            <string>eff_breakdown_flying.png</string>
        </dict>
    </dict>
</plist>
