<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_card_enhance_left_bottom_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1490},{72,72}}</string>
                <key>offset</key>
                <string>{-109,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,166},{72,72}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>eff_card_enhance_left_bottom_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{182,136}}</string>
                <key>offset</key>
                <string>{-43,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,86},{182,136}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>eff_card_enhance_left_bottom_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{262,186}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{262,186}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>eff_card_enhance_left_bottom_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,232}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,232}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>eff_card_enhance_left_bottom_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1490},{150,128}}</string>
                <key>offset</key>
                <string>{-28,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,66},{150,128}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>eff_card_enhance_left_bottom_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1352},{164,136}}</string>
                <key>offset</key>
                <string>{-22,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,58},{164,136}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>eff_card_enhance_left_bottom_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1042},{178,144}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,49},{178,144}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>eff_card_enhance_left_bottom_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{186,154}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,39},{186,154}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>eff_card_enhance_left_bottom_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{188,178}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,23},{188,178}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>eff_card_enhance_left_bottom_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1188},{168,162}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,48},{168,162}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>eff_card_enhance_left_bottom_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,304},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,119.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_card_enhance_left_bottom.png</string>
            <key>size</key>
            <string>{236,1620}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2a2f5998420574fe528d67133fc2812:c04334e4be3173aeab92f6cf69d8075e:ccdb28fb73f6713bc009b42ad301c672$</string>
            <key>textureFileName</key>
            <string>eff_card_enhance_left_bottom.png</string>
        </dict>
    </dict>
</plist>
