<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_dizzy_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{136,64}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_dizzy_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,66}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{136,66}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_dizzy_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,64},{132,60}}</string>
                <key>offset</key>
                <string>{6,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{132,60}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_dizzy_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{132,60}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{132,60}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_dizzy_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{136,64}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_dizzy_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,66}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{136,66}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_dizzy_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,64},{132,60}}</string>
                <key>offset</key>
                <string>{6,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{132,60}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_dizzy_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{132,60}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{132,60}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_dizzy.png</string>
            <key>size</key>
            <string>{412,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:217e23933e7e68aec729b1bf06cb3daf:3682ead1294e66c4ced5679d12a27947:5fe4a1fb462a53367af6cbcf5797b5d1$</string>
            <key>textureFileName</key>
            <string>eff_dizzy.png</string>
        </dict>
    </dict>
</plist>
