<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_shop_2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,308},{154,130}}</string>
                <key>offset</key>
                <string>{-2,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,184},{154,130}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{154,262}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,62},{154,262}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{158,304}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,20},{158,304}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,304}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,20},{160,304}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_shop_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,304}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,20},{160,304}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_shop_2.png</string>
            <key>size</key>
            <string>{486,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3819fb2528dcf53e94eed9386d883276:17e481c7c20d8f0a34ac6d248598b7a6:0601460b268891f6b1dc45f1c204923a$</string>
            <key>textureFileName</key>
            <string>eff_shop_2.png</string>
        </dict>
    </dict>
</plist>
