<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_guild_icon_yellow__00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{32,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,33},{32,36}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_yellow__01.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,376},{38,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,33},{38,36}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_yellow__02.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,376},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,35},{44,34}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_yellow__03.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,208},{50,38}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,35},{50,38}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_yellow__04.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,150},{56,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,34},{56,40}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_yellow__05.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,86},{62,40}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,35},{62,40}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_yellow__06.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,260},{68,42}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,35},{68,42}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_yellow__07.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,330},{74,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,35},{74,44}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_yellow__08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{80,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,35},{80,44}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_yellow__09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{80,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,35},{80,44}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_yellow__10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{80,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,35},{80,44}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_yellow__11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{82,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,35},{82,44}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_yellow__12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,35},{82,44}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_yellow__13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{82,42}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,37},{82,42}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_yellow__14.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{82,40}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,39},{82,40}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_yellow__15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{82,38}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,41},{82,38}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_yellow__16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{82,36}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,43},{82,36}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>eff_guild_icon_yellow__17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{82,20}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,53},{82,20}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_guild_icon_yellow_.png</string>
            <key>size</key>
            <string>{128,446}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f3751f6f2111f8f3026c402d37f250f:d48d5650416c9c422f558b6ce5bada10:e66479e00d9c365bb05c35745390cf24$</string>
            <key>textureFileName</key>
            <string>eff_guild_icon_yellow_.png</string>
        </dict>
    </dict>
</plist>
