<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_partner_action_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{50,48}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,81},{50,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_partner_action_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,938},{60,60}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,74},{60,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_partner_action_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,262},{70,66}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,71},{70,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_partner_action_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,90},{78,74}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,67},{78,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_partner_action_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{86,82}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,63},{86,82}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_partner_action_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,166},{94,90}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,59},{94,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_partner_action_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{102,98}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,55},{102,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_partner_action_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{102,98}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,55},{102,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_partner_action_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{102,98}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,55},{102,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_partner_action_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{102,98}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,55},{102,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_partner_action_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{102,98}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,55},{102,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_partner_action_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{102,98}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,55},{102,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_partner_action_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,838},{102,98}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,55},{102,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_partner_action_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{102,98}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,55},{102,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_partner_action_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,738},{102,98}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,55},{102,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_partner_action_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{102,98}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,55},{102,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_partner_action_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,638},{102,98}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,55},{102,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_partner_action_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,538},{102,98}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,55},{102,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_partner_action_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,330},{102,98}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,55},{102,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_partner_action_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,434},{106,102}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,53},{106,102}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_partner_action_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{114,110}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,49},{114,110}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_partner_action_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{122,118}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,45},{122,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_partner_action_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{130,126}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,41},{130,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_partner_action_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{138,134}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,37},{138,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_partner_action_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,140}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,34},{146,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_partner_action.png</string>
            <key>size</key>
            <string>{234,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcedd2bfcc9ac58b9afaa69c573e2c2b:74a4f5f5f61ef64de37c8276e5b2a20c:a4599625d1707aa22dc39673e156da49$</string>
            <key>textureFileName</key>
            <string>eff_partner_action.png</string>
        </dict>
    </dict>
</plist>
