<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_box_purple_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,962},{206,152}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,188},{206,152}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_purple_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,808},{206,152}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,188},{206,152}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_purple_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,968},{206,152}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,188},{206,152}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_purple_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{206,156}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,184},{206,156}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_purple_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{206,164}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,176},{206,164}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_purple_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{206,174}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,166},{206,174}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_purple_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,618},{206,188}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,152},{206,188}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_purple_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,418},{206,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,142},{206,198}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_purple_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{206,206}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,134},{206,206}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_purple_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,210},{206,212}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,128},{206,212}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_purple_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{206,214}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,126},{206,214}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_purple_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{206,214}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,126},{206,214}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eff_box_purple_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,214}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,126},{206,214}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_box_purple.png</string>
            <key>size</key>
            <string>{474,1176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9982f33a24569eab077768d05ac8b64:57011d6104758e3db37d94027726b9cb:36f2340e084ba955dbaefe184db75b94$</string>
            <key>textureFileName</key>
            <string>eff_box_purple.png</string>
        </dict>
    </dict>
</plist>
