<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_5_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,120}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{144,120}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>hit_5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{144,100}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,39},{144,100}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>hit_5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{156,112}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,30},{156,112}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>hit_5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{156,108}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{156,108}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>hit_5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{162,116}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{162,116}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>hit_5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{158,100}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,39},{158,100}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>hit_5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{158,88}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,46},{158,88}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>hit_5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{132,68}}</string>
                <key>offset</key>
                <string>{18,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,65},{132,68}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>hit_5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,2},{130,68}}</string>
                <key>offset</key>
                <string>{18,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,65},{130,68}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_5.png</string>
            <key>size</key>
            <string>{1360,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09b5fc742579cd7da44e3c41d799ee9e:3fcad4061ab2d2ccc385b80f21154fd4:689f34944fe530ae4ce67b7683461533$</string>
            <key>textureFileName</key>
            <string>hit_5.png</string>
        </dict>
    </dict>
</plist>
