<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_8_2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,84},{142,74}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{142,74}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_8_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{150,98}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{150,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_8_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,138},{146,110}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{146,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_8_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,128}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{142,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_8_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{134,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{134,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_8_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{142,118}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{142,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_8_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{140,114}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{140,114}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_8_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,118},{136,110}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,26},{136,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_8_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,146},{136,88}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,41},{136,88}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_8_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{132,80}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,47},{132,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_8_2.png</string>
            <key>size</key>
            <string>{652,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e748118ee1222bd71f346b7fa7660ce4:15ac58c4c3aa5e8068e8180111c665d1:6e0323c705f19891bd0bc3c22d11d10a$</string>
            <key>textureFileName</key>
            <string>hit_8_2.png</string>
        </dict>
    </dict>
</plist>
