<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_7_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{100,90}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{100,90}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hit_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{110,94}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{110,94}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hit_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{106,78}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,39},{106,78}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hit_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{110,78}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,29},{110,78}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hit_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,80}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{116,80}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hit_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{112,68}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,47},{112,68}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hit_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{104,70}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,47},{104,70}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hit_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{84,60}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,47},{84,60}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_7.png</string>
            <key>size</key>
            <string>{120,636}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f946ca4b150dd223490063d7b031aa2:f34262bd54ffccc2a19503c184546d34:1714ee8300c5c032faaf9ff6d705d152$</string>
            <key>textureFileName</key>
            <string>hit_7.png</string>
        </dict>
    </dict>
</plist>
