<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_35_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{124,132}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,48},{124,132}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hit_35_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{136,148}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{136,148}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hit_35_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,146}}</string>
                <key>offset</key>
                <string>{-12,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,34},{150,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hit_35_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{134,168}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{134,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hit_35_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{50,116}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,41},{50,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_35.png</string>
            <key>size</key>
            <string>{150,652}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43ff640f3da75a1044d3553c5e7fd298:b1d8b511ad8d328e055fd4aec68b3a79:5530c047906e9012a783037e95dbf6eb$</string>
            <key>textureFileName</key>
            <string>hit_35.png</string>
        </dict>
    </dict>
</plist>
