<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_54_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,766},{142,24}}</string>
                <key>offset</key>
                <string>{-5,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,15},{142,24}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>hit_54_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,968},{148,48}}</string>
                <key>offset</key>
                <string>{-2,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,16},{148,48}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>hit_54_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,926},{154,86}}</string>
                <key>offset</key>
                <string>{0,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,13},{154,86}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>hit_54_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,2},{162,124}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,18},{162,124}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>hit_54_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,718},{206,172}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,22},{206,172}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>hit_54_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,364},{352,182}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,36},{352,182}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>hit_54_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{396,174}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,46},{396,174}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>hit_54_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,386},{378,148}}</string>
                <key>offset</key>
                <string>{4,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,72},{378,148}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>hit_54_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{376,112}}</string>
                <key>offset</key>
                <string>{8,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,108},{376,112}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>hit_54_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{388,106}}</string>
                <key>offset</key>
                <string>{2,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,114},{388,106}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>hit_54_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{396,106}}</string>
                <key>offset</key>
                <string>{-1,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,114},{396,106}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>hit_54_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{398,124}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,96},{398,124}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>hit_54_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,392},{386,126}}</string>
                <key>offset</key>
                <string>{6,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,94},{386,126}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>hit_54_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,400},{396,124}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,96},{396,124}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>hit_54_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,400},{394,130}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,90},{394,130}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>hit_54_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,380},{370,152}}</string>
                <key>offset</key>
                <string>{5,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,64},{370,152}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>hit_54_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,2},{360,178}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,38},{360,178}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>hit_54_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{382,198}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,22},{382,198}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>hit_54_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,796},{386,214}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{386,214}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>hit_54_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{396,220}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{396,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>hit_54_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{394,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{394,220}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>hit_54_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,372},{360,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{360,212}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>hit_54_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,752},{358,214}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{358,214}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
            <key>hit_54_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{368,214}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{368,214}}</string>
                <key>sourceSize</key>
                <string>{400,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_54.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a81ecf06cb6377516d2ca4084fa6e570:1/1$</string>
            <key>textureFileName</key>
            <string>hit_54.png</string>
        </dict>
    </dict>
</plist>
