<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_17_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{102,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{102,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hit_17_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{104,114}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{104,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hit_17_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{108,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hit_17_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{114,112}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{114,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_17.png</string>
            <key>size</key>
            <string>{436,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a7c3ad395e2b1b542eb5dbef02d7284:cac47a8acc33ad0d1e4aec9afb126952:9d88065005c34ba51c18392b9f77951f$</string>
            <key>textureFileName</key>
            <string>hit_17.png</string>
        </dict>
    </dict>
</plist>
