<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_13_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{182,182}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,35},{182,182}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>hit_13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{186,206}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,27},{186,206}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>hit_13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{186,206}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,27},{186,206}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>hit_13_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{194,210}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,24},{194,210}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>hit_13_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,210}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,23},{194,210}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>hit_13_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,2},{178,204}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,27},{178,204}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>hit_13_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{168,182}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,47},{168,182}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>hit_13_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,2},{140,154}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,49},{140,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_13.png</string>
            <key>size</key>
            <string>{1544,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfda2c3392c73dd2f73b0f77fb0908bb:c86d1c7cf39b6cb4f5a9d6a0feaa5cf8:e02484af7d61614faebe72afaed59b5e$</string>
            <key>textureFileName</key>
            <string>hit_13.png</string>
        </dict>
    </dict>
</plist>
