<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_29_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{68,82}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,24},{68,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hit_29_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{102,94}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{102,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hit_29_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,108}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{116,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hit_29_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{114,106}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{114,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hit_29_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{94,92}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{94,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_29.png</string>
            <key>size</key>
            <string>{496,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87a4ac560c63aea925f2e78dbacf3524:268da15034fbf5cf2951b199027faa35:111f2e715135b472a03c5efad980d239$</string>
            <key>textureFileName</key>
            <string>hit_29.png</string>
        </dict>
    </dict>
</plist>
