<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_24_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{138,76}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>hit_24_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{138,76}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{138,76}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>hit_24_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,78}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>hit_24_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{126,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{126,76}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>hit_24_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,160},{114,66}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{114,66}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>hit_24_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{112,32}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,29},{112,32}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_24.png</string>
            <key>size</key>
            <string>{254,239}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ac3a9dce71a84850e1e1be522215a81:2412f4d99c4907120dfc3c350b5216d2:6a39d832b0d852325065a08b46881a4c$</string>
            <key>textureFileName</key>
            <string>hit_24.png</string>
        </dict>
    </dict>
</plist>
