<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_86_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,156},{1,1}}</string>
                <key>offset</key>
                <string>{-99.5,99.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hit_86_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{152,144}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,28},{152,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hit_86_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{192,194}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{192,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hit_86_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,194}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{192,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hit_86_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{188,194}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{188,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hit_86_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{188,194}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{188,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hit_86_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{188,194}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{188,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_86.png</string>
            <key>size</key>
            <string>{1106,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfe68e0ee015e4fef9017349e73b9c2c:9ad40a7fee605dd741813064214fafa1:8454339e38f49d37712fdc7701e806e7$</string>
            <key>textureFileName</key>
            <string>hit_86.png</string>
        </dict>
    </dict>
</plist>
