<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_15_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{124,108}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,52},{124,108}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_15_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{138,118}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,42},{138,118}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_15_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{138,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{138,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_15_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{152,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_15_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{148,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{148,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_15_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{134,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{134,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_15_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{134,120}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,40},{134,120}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_15.png</string>
            <key>size</key>
            <string>{1002,156}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:092c9568de6d77f8c468380864697ad4:f371bb86051cfe6758fb82f70710d787:ebf4e3d4dc92b5ca53a62c556ddc077b$</string>
            <key>textureFileName</key>
            <string>hit_15.png</string>
        </dict>
    </dict>
</plist>
