<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_47_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1074},{32,22}}</string>
                <key>offset</key>
                <string>{-35,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,140},{32,22}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>hit_47_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{152,154}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,27},{152,154}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>hit_47_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,746},{156,158}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,25},{156,158}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>hit_47_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,582},{160,162}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,24},{160,162}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>hit_47_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,410},{170,164}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,24},{170,164}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>hit_47_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,212},{196,164}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,23},{196,164}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>hit_47_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{208,166}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,21},{208,166}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>hit_47_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{230,166}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,21},{230,166}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>hit_47_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,166}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{242,166}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>hit_47_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{226,166}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{226,166}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>hit_47_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1102},{214,166}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{214,166}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>hit_47_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{226,166}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,21},{226,166}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>hit_47_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{222,166}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{222,166}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>hit_47_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1102},{216,166}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{216,166}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>hit_47_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,750},{162,166}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,21},{162,166}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>hit_47_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,582},{162,166}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,21},{162,166}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>hit_47_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,212},{158,162}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,23},{158,162}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>hit_47_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,914},{158,162}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,23},{158,162}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>hit_47_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,376},{154,156}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,26},{154,156}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>hit_47_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,906},{80,86}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,63},{80,86}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>hit_47_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,994},{80,84}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,65},{80,84}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_47.png</string>
            <key>size</key>
            <string>{496,1270}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0212db62107b7dc8370bc7b6f0960da9:b6bb92f138f6521330ad0ae3323997da:845b07f888559417b802a69797e3b42b$</string>
            <key>textureFileName</key>
            <string>hit_47.png</string>
        </dict>
    </dict>
</plist>
