<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_40_2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,658},{62,56}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,38},{62,56}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>hit_40_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{110,76}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,18},{110,76}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>hit_40_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{148,92}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>hit_40_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{148,86}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{148,86}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>hit_40_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{154,74}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,17},{154,74}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>hit_40_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{104,62}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,28},{104,62}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>hit_40_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{102,56}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,34},{102,56}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>hit_40_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{108,52}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,36},{108,52}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>hit_40_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{50,16}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,70},{50,16}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_40_2.png</string>
            <key>size</key>
            <string>{114,768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b17d13bc5ef13b97ea9da3b9230d56a:a3580226adbe29e401bee1e41f1ab8b0:bee199a5d45a5116ce4d6c7441d76708$</string>
            <key>textureFileName</key>
            <string>hit_40_2.png</string>
        </dict>
    </dict>
</plist>
