<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_8_1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{66,74}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{66,74}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>hit_8_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{78,84}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>hit_8_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,98}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{78,98}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>hit_8_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{76,96}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{76,96}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>hit_8_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{78,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{78,86}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>hit_8_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{76,84}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{76,84}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>hit_8_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{76,82}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{76,82}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>hit_8_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{76,82}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{76,82}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>hit_8_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{56,78}}</string>
                <key>offset</key>
                <string>{-12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,78}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>hit_8_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{54,40}}</string>
                <key>offset</key>
                <string>{-13,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,40}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>hit_8_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,44},{52,36}}</string>
                <key>offset</key>
                <string>{-13,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,36}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_8_1.png</string>
            <key>size</key>
            <string>{810,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a3b2903e6fb412113c7efc9940f0881:c28172b07cdb30dcfc4f7b8f9d124590:874facc2aeab68181d5baa07b4ffd46d$</string>
            <key>textureFileName</key>
            <string>hit_8_1.png</string>
        </dict>
    </dict>
</plist>
