<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_27_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,240}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,25},{234,240}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hit_27_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{272,230}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,31},{272,230}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hit_27_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{276,222}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{276,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hit_27_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,2},{254,218}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,38},{254,218}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hit_27_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{284,226}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,30},{284,226}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hit_27_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{262,232}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{262,232}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hit_27_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,2},{214,226}}</string>
                <key>offset</key>
                <string>{16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,30},{214,226}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hit_27_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,2},{182,214}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,42},{182,214}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_27.png</string>
            <key>size</key>
            <string>{2002,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64a79899b8618107369c88e866f5a409:d8a959230b72766528384ba270c20f68:0e69406c73fc6a4b2c6cdcd5700c456f$</string>
            <key>textureFileName</key>
            <string>hit_27.png</string>
        </dict>
    </dict>
</plist>
