<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_23_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{164,118}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,32},{164,118}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>hit_23_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{210,144}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{210,144}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>hit_23_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{222,150}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,150}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>hit_23_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{236,150}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,150}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>hit_23_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{232,150}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,150}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>hit_23_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{212,148}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{212,148}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>hit_23_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{200,72}}</string>
                <key>offset</key>
                <string>{6,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,72},{200,72}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>hit_23_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,62}}</string>
                <key>offset</key>
                <string>{4,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,77},{190,62}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_23.png</string>
            <key>size</key>
            <string>{240,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01f0d973ed2bfe0360e660d08a660a45:f0e884b669f699a897320b684bc38a49:3466c0569e82bb4cc3933199aabda8f1$</string>
            <key>textureFileName</key>
            <string>hit_23.png</string>
        </dict>
    </dict>
</plist>
