<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_42_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,2},{158,196}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,37},{158,196}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>hit_42_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,2},{166,202}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,24},{166,202}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>hit_42_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{200,226}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{200,226}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>hit_42_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,2},{196,232}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{196,232}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>hit_42_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,230}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{200,230}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>hit_42_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{198,216}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{198,216}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>hit_42_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{198,172}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{198,172}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>hit_42_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{198,136}}</string>
                <key>offset</key>
                <string>{1,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{198,136}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>hit_42_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{200,130}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{200,130}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_42.png</string>
            <key>size</key>
            <string>{1722,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1847aa714ef8c3eba6a0c03601a0ac17:291571a936b2eafb1313bd11e0e4b5ce:e69560a07e13b0eaccbf140cf0c45be8$</string>
            <key>textureFileName</key>
            <string>hit_42.png</string>
        </dict>
    </dict>
</plist>
