<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_36_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{292,258}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{292,258}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>hit_36_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,260}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{296,260}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>hit_36_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{296,240}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,17},{296,240}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>hit_36_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,524},{296,224}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,27},{296,224}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>hit_36_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,264},{250,178}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,61},{250,178}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>hit_36_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{236,156}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,78},{236,156}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>hit_36_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{226,146}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,85},{226,146}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_36.png</string>
            <key>size</key>
            <string>{476,970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2511e20a3d59981f3c699ebf10ca873a:a86dadcd9c4e47276c9df5117ad829f9:e14aaf825fc8485aebc1604c57901e88$</string>
            <key>textureFileName</key>
            <string>hit_36.png</string>
        </dict>
    </dict>
</plist>
