<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_52_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{190,190}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,86},{190,190}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hit_52_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,238},{274,230}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,50},{274,230}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hit_52_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{282,234}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,47},{282,234}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hit_52_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,234}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,40},{310,234}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hit_52_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{310,226}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,47},{310,226}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hit_52_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{286,216}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,57},{286,216}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hit_52_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,314},{138,174}}</string>
                <key>offset</key>
                <string>{-25,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,99},{138,174}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_52.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d09e9d3b3a6d1a5bf6b356a27712623d:1/1$</string>
            <key>textureFileName</key>
            <string>hit_52.png</string>
        </dict>
    </dict>
</plist>
