<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_20_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{102,66}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{102,66}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hit_20_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,108}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{120,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hit_20_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{114,106}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{114,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hit_20_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{116,102}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,17},{116,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hit_20_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{108,108}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{108,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hit_20_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{60,54}}</string>
                <key>offset</key>
                <string>{15,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,12},{60,54}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_20.png</string>
            <key>size</key>
            <string>{112,592}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32be32e1ac1ecbaf48058ddba94d126f:a70cf9035ed953afb2694613d8e2eaef:de86b8439aab0f6a542b7937d655333f$</string>
            <key>textureFileName</key>
            <string>hit_20.png</string>
        </dict>
    </dict>
</plist>
