<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_10_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,2},{52,76}}</string>
                <key>offset</key>
                <string>{-30,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,53},{52,76}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,2},{112,80}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,52},{112,80}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_10_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,2},{112,112}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,19},{112,112}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_10_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{120,114}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,20},{120,114}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_10_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{140,114}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{140,114}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_10_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,2},{144,110}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{144,110}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_10_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,2},{138,108}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{138,108}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_10_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2},{138,114}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{138,114}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_10_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,2},{136,114}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{136,114}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_10_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{136,116}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{136,116}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_10_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{136,116}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{136,116}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_10_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{134,120}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{134,120}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_10_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{130,122}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{130,122}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_10_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,122}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{130,122}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_10_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,2},{130,102}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{130,102}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_10.png</string>
            <key>size</key>
            <string>{1882,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8406d17ba22c77c1f734d7899e27787:3878f3157334ef2676ce6e2a21c2766a:cdf0ac9c6b4f9e6e02687ba063e71a74$</string>
            <key>textureFileName</key>
            <string>hit_10.png</string>
        </dict>
    </dict>
</plist>
