<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_48_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{316,280}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,40},{316,280}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>hit_48_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{316,280}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,40},{316,280}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>hit_48_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>hit_48_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>hit_48_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{308,320}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{308,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_48.png</string>
            <key>size</key>
            <string>{324,916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74d672d12775dc2f27e9a8fba4fbc1dc:08e1814cb4bb717640c747be119870c3:670f1b798ef8eb4089d72dc438b30366$</string>
            <key>textureFileName</key>
            <string>hit_48.png</string>
        </dict>
    </dict>
</plist>
