<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_48_1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{186,140}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,24},{186,140}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>hit_48_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{202,192}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,28},{202,192}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>hit_48_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{166,186}}</string>
                <key>offset</key>
                <string>{-20,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,34},{166,186}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>hit_48_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,220}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>hit_48_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,220}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>hit_48_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{168,160}}</string>
                <key>offset</key>
                <string>{21,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{168,160}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>hit_48_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{168,160}}</string>
                <key>offset</key>
                <string>{21,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{168,160}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_48_1.png</string>
            <key>size</key>
            <string>{204,900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bbb0ed3d67b6feb18e746db9f2167db:018bf48939da941505464d44937a15f2:a34103e9ef9bf033d282bf10cd5c861c$</string>
            <key>textureFileName</key>
            <string>hit_48_1.png</string>
        </dict>
    </dict>
</plist>
