<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_30_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,162},{62,82}}</string>
                <key>offset</key>
                <string>{-22,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,31},{62,82}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_30_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,154},{78,74}}</string>
                <key>offset</key>
                <string>{-33,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,46},{78,74}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_30_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{100,78}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{100,78}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_30_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,82},{70,94}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,34},{70,94}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_30_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,154},{58,84}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,36},{58,84}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_30_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{86,92}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,35},{86,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_30_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,134},{102,120}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,21},{102,120}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_30_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{134,130}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{134,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_30_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{158,158}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_30.png</string>
            <key>size</key>
            <string>{406,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50a024232de3728e5921a6adac3058dc:7607580a55c952047fd130ab8a8e8c10:645ecdc97fbf2522b81efeca6f13a09f$</string>
            <key>textureFileName</key>
            <string>hit_30.png</string>
        </dict>
    </dict>
</plist>
