<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_45_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{158,134}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{158,134}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_45_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,146}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{160,146}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_45_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{158,128}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{158,128}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>hit_45_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{136,126}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,31},{136,126}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_45.png</string>
            <key>size</key>
            <string>{164,544}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e170af2398b357b254e49b3d79b859e5:5eb11ab09791356e17c91e2bf83c6f56:9a8d9efe7c87dacf3e7eefc002a1c12b$</string>
            <key>textureFileName</key>
            <string>hit_45.png</string>
        </dict>
    </dict>
</plist>
