<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_91_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{100,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,33},{100,84}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_91_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,272},{116,106}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{116,106}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_91_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{116,116}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_91_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,268},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{128,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_91_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{134,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_91_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{132,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_91_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,272},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{126,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_91_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{132,134}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{132,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_91_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{138,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_91_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,138},{134,132}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{134,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hit_91_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,136},{132,130}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{132,130}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_91.png</string>
            <key>size</key>
            <string>{512,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3e81f5bd03c24bdcf79f3fffe0108ed:e13e2e3b9db0a649571531213df24185:7aa495d6201ed8725d923aa6d5cd212c$</string>
            <key>textureFileName</key>
            <string>hit_91.png</string>
        </dict>
    </dict>
</plist>
