<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,88},{1,1}}</string>
                <key>offset</key>
                <string>{-89.5,79.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>hit_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{88,116}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,23},{88,116}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>hit_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{88,116}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,23},{88,116}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>hit_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,90}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,37},{148,90}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>hit_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,90}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,37},{148,90}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>hit_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{174,88}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{174,88}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>hit_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{132,84}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,37},{132,84}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>hit_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{132,84}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,37},{132,84}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
            <key>hit_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{114,84}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,38},{114,84}}</string>
                <key>sourceSize</key>
                <string>{180,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_2.png</string>
            <key>size</key>
            <string>{696,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7130bd51059faee2a74c8d27a0bae45b:1a575357454d118dfc541bcfc9435bca:80188e5060597dfa70f0e73102d89404$</string>
            <key>textureFileName</key>
            <string>hit_2.png</string>
        </dict>
    </dict>
</plist>
