<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_84_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,2},{148,74}}</string>
                <key>offset</key>
                <string>{-10,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,116},{148,74}}</string>
                <key>sourceSize</key>
                <string>{180,194}</string>
            </dict>
            <key>hit_84_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,2},{170,90}}</string>
                <key>offset</key>
                <string>{-4,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,100},{170,90}}</string>
                <key>sourceSize</key>
                <string>{180,194}</string>
            </dict>
            <key>hit_84_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,2},{176,106}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,84},{176,106}}</string>
                <key>sourceSize</key>
                <string>{180,194}</string>
            </dict>
            <key>hit_84_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{178,148}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{178,148}}</string>
                <key>sourceSize</key>
                <string>{180,194}</string>
            </dict>
            <key>hit_84_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{178,164}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{178,164}}</string>
                <key>sourceSize</key>
                <string>{180,194}</string>
            </dict>
            <key>hit_84_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,164}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{178,164}}</string>
                <key>sourceSize</key>
                <string>{180,194}</string>
            </dict>
            <key>hit_84_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{158,162}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{158,162}}</string>
                <key>sourceSize</key>
                <string>{180,194}</string>
            </dict>
            <key>hit_84_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,2},{110,136}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,4},{110,136}}</string>
                <key>sourceSize</key>
                <string>{180,194}</string>
            </dict>
            <key>hit_84_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,2},{136,144}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{136,144}}</string>
                <key>sourceSize</key>
                <string>{180,194}</string>
            </dict>
            <key>hit_84_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{142,148}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{142,148}}</string>
                <key>sourceSize</key>
                <string>{180,194}</string>
            </dict>
            <key>hit_84_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{142,148}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{142,148}}</string>
                <key>sourceSize</key>
                <string>{180,194}</string>
            </dict>
            <key>hit_84_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{142,148}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{142,148}}</string>
                <key>sourceSize</key>
                <string>{180,194}</string>
            </dict>
            <key>hit_84_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,78},{82,88}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,28},{82,88}}</string>
                <key>sourceSize</key>
                <string>{180,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_84.png</string>
            <key>size</key>
            <string>{1884,168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bff90058f2b8e4479318bb78bd5cd8f9:f116c83235628b25f733141e19644996:f16c78d2fe526e52c6239ce5e908bb5d$</string>
            <key>textureFileName</key>
            <string>hit_84.png</string>
        </dict>
    </dict>
</plist>
