<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_18_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,116},{106,68}}</string>
                <key>offset</key>
                <string>{0,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{106,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hit_18_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,2},{112,106}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,8},{112,106}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hit_18_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,2},{120,146}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,7},{120,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hit_18_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,2},{172,192}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{172,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hit_18_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{180,192}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{180,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hit_18_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,190}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{184,190}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hit_18_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,2},{156,186}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{156,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hit_18_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{182,194}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{182,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hit_18_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{174,194}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{174,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hit_18_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{176,188}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{176,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hit_18_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{184,188}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{184,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hit_18_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{162,182}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{162,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>hit_18_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,160},{20,112}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,27},{20,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_18.png</string>
            <key>size</key>
            <string>{1936,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85239c73157e946644d2d3c11cd80a0b:b57be9f8d6ddfdf1c63ee3b8442efa16:efe84c5a0bd7d5d9c5a1a4e918a4bcca$</string>
            <key>textureFileName</key>
            <string>hit_18.png</string>
        </dict>
    </dict>
</plist>
